[2019-07-19 14:24] mathomp4 opened #1 "Sparse checkout for NCEP_Shared and GMAO_Shared for GEOSgcm"
This is probably something @tclune can help fix for me. Namely, the GEOSgcm right now gets all of the GEOSadas' `NCEP_Shared` and `GMAO_Shared` directories.

As for `NCEP_Shared`, GEOSgcm should *NOT* have:
* NCEP_bufr
* NCEP_crtm
* NCEP_gfsio
* NCEP_nemsio

For `GMAO_Shared`, GEOSgcm should *NOT* have:
* GEOS_Pert
* GMAO_ncdiag
* GMAO_ods
* GMAO_psas
* GMAO_pyobs
* arpack
* pnagpack

I'm going to

[2019-07-19 14:27] mathomp4 commented on #1
Oh dear. Hmm. Question for @tclune: how does CMake handle this? The `CMakeLists.txt` file has all the directories. Is this what `esma_add_subdirectories` does?

[2019-07-19 14:46] mathomp4 opened #3 "Update ESMA_env version when rc file fix is merged"
When the `ESMA_env` is updated, update `Externals.cfg` with the update

[2019-07-22 14:30] #1 closed

[2019-07-26 19:00] pchakraborty opened #18 "Error in building StandAlone_FV3_Dycore.x"
To reproduce, checkout version v10.3.0, configure build (cmake) and run `make -j14 StandAlone_FV3_Dycore.x`. I am getting the error:

[code]

[2019-07-26 19:19] tclune commented on #18
This looks very familiar, but I cannot immediately recall how we encountered it before, nor why you are seeing it in a separate build.

[2019-07-26 19:39] mathomp4 commented on #18
@tclune Thinks this is CMake being too smart because of how we handle the FMS r4/r8 business.

[2019-07-26 19:43] tclune commented on #18
This issue should go away when we do a real fix for the R4/R8 issue.   The current kludge only has a cmake dependency on the R8, but the R4 .mod files are used during the build.    Under a full build, we get lucky and the R4 library is always built before this step, but building just this one executable does not do that.    Of course this means that in theory there is already a race condition wher

[2019-07-26 19:43] #18 closed

[2019-07-26 19:44] tclune commented on #18
Workaround is to explicitly build GFDL_fms_r4 before building the standalone executable.

[2019-07-26 19:52] pchakraborty commented on #18
Workaround suggested by @tclune works.
[code]

[2019-07-29 17:46] mathomp4 opened #21 "parallel_build has unsafe develop option"
In my haste to get things working, I realize the `parallel_build.csh -develop` option is unsafe. It *assumes* a file named `Develop.cfg` will exist. A test should be added to the code to fail if the file isn't there.

[2019-07-29 17:47] mathomp4 opened #22 "Add ability to specify build and install directories to parallel_build"
`parallel_build.csh` should have the options to allow a user to pass in directories for the build and install paths. No reason to hamstring users.

[2019-07-29 17:47] mathomp4 opened #23 "Add ability to specify other external config"
It would be useful to have the ability to have an option to say to `parallel_build.csh` to use a different manage_externals file.

[2019-07-29 19:32] ehackert opened #25 "Testing S2S ODAS"
Tom asked me to test out the GITHUB version of the ODAS code.   So far I set up a run where I pulled the GITHUB versions to the directory structure that the old CVS version followed.   This experiment is located in
[code]
For the 1st pass through, I reused the model (GEOSgcm.x) from the CVS version.   The error file is located in

[code]
More recently I copied the GEOSgcm.x from the GITHUB version

[2019-07-29 19:59] tclune commented on #25
I've edited the original ticket to  fix a typo in the paths and make the output references a bit easier to read.    Here I'll include snippets of the actual error messages.

The first error log shows
[code]

Further in on the 2nd output this type of error shows up:
[code]

[2019-07-30 12:33] mathomp4 commented on #25
First things first, yes, I believe some/all of this is related to `g5_modules`. The first experiment you pointed me to was built with Intel MPI according to this:
[code]
You definitely can't use an Intel MPI `g5_modules` with MPT executables and vice-versa.

Second, you'll want to look over your scripts for references to `mpirun`. With MPT, `mpirun` does Very Weird Things™. The easiest solution is

[2019-07-30 14:09] ehackert commented on #25
Hi Matt,
Thanks for taking a look at this.   I made your suggested corrections, fixing all instances of the old g5_modules.  In addition I put in the suggested mpi run correction as well for all scripts.   I am submitting this now.   Thanks.

eric

From: Matthew Thompson [mailto:notifications@github.com]
Sent: Tuesday, July 30, 2019 8:33 AM
To: GEOS-ESM/GEOSgcm <GEOSgcm@noreply.github.com>
Cc: Hac

[2019-07-30 16:14] mathomp4 opened #26 "Parallel_build is broken on macs"
This needs to be fixed in ESMA_env:

[code]

[2019-07-30 19:57] ehackert commented on #25
Hi Matt,

I tried replacing all instances of g5_modules with the Git version.   In addition, I replaced all the mpi commands with your suggestions.   Finally, I replaced the read_merra2_bcs.so with the Git version since it looked like it was choking there.   Now the code is complaining about a plotting call in ocean_sponge.py (see eh018.e 33728536 for details).  Also the model is bombing immediate

[2019-07-31 11:41] mathomp4 commented on #25
@ehackert

Looking at `/gpfsm/dnb42/projects/p17/ehackert/geos5/exp/eh018/eh018.o33728536` my guess is that it's because what ever `CAP.rc.tmpl` or the like you are using still has GCS as the root:
[code]
This was changed when we moved to Github to be `GCM`:
[code]
Try making that change and things might go farther.

[2019-08-01 22:47] mathomp4 opened #28 "Damping fix for GEOSgcm"
As I was leaving today, @wmputman was working with @lltakacs about adding a "damping fix"(?) to the GCM. If this is being added to that CVS tag for the ADAS test, we need to add it to the GCM here in git.

My problem, I'm not sure what it was a change to (`AGCM.rc.tmpl`, `fvcore_layout.rc`, FV3 itself).

This could be a good test project for @lltakacs and I to work on git.

[2019-08-01 22:47] mathomp4 commented on #28
Oh, and of course, this Issue should really be opened in the repository the code changes in.

[2019-08-05 12:56] mathomp4 commented on #28
Fixed by @sdrabenh in GEOS-ESM/GEOSgcm_GridComp#16.

[2019-08-05 12:56] #28 closed

[2019-08-05 12:57] mathomp4 opened #29 "Get Jason-3_2 from CVS into git"
This is a bit of a meta-issue. @lltakacs has created `Jason-3_2` on CVS and this needs to be in git. Changes are:
[code]

[2019-08-05 13:01] mathomp4 opened #30 "Get Jason-3_2_UNCOUPLED into git"
This one first depends on #29 first getting in and merged into `master`. We can then branch off `master` and commit the code from the `Jason-2_2` versions of:
[code]
We also need to *remove* `GEOSdataatm_GridComp` and get the `Jason-3_2_Modified_for_UNCOUPLED` variant of `GEOSgcm_GridComp.F90`.

Note that `CMakeLists.txt` files might/will probably need to adjusted because of the loss of `GEOSdataa

[2019-08-06 13:23] narnold1 opened #31 "SHOC-EDMF turbulence development"
Adding SHOC and EDMF as options for turbulence and shallow convection, and a double-gaussian PDF for condensation and cloud fraction.

[2019-08-06 14:06] narnold1 opened #32 "fix triangular cloud pdf"
pdffrac and pdfcondensate in cloudnew.F90 use min instead of max when setting a lower bound on qtmin, resulting in qtmin=0 and very low cloud fractions.

[2019-08-07 19:59] pchakraborty opened #33 "Create configuration for automated build on CircleCI"

[2019-08-08 12:15] wmputman opened #34 "fvcore_layout.rc >> input.nml"
In the gcm_run.j and the gcm_forecast.tmpl there are occasions when the fvcore_layout.rc does not properly cat to input.nml, this leaves input.nml as an empty file.  The most prevalent symptom for this at the moment is that the FMS stack size does not get set properly and the model fails due to exceeding stack limits.

[2019-08-08 12:44] mathomp4 commented on #34
@wmputman I cannot see how that cannot work. I mean, that's basic Linux 101 there.

I could easily belt-and-suspender it with file existence checks, using `/bin/cat`, checking status, etc., which I suppose we should do everywhere, but it's `cat`, which is pretty boring and doesn't do much.

Is this only happening on, say, SLES10?  That system does have an older `cat` (v. 8.12) versus that on SLES1

[2019-08-08 12:48] mathomp4 commented on #34
I looked at the Changelogs and the only mention of `cat` was in that for 8.17:

That's not really a bug fix, though.

[2019-08-08 13:11] wmputman commented on #34
This has happened on SLES11 (once) and SLES12 (frequently) over the last month.

[2019-08-08 13:11] mathomp4 commented on #34
The only other thing I can see is in *perhaps* in FV3. For example, `fv_control.F90` has this bit:
[code]
`gfdl_cloud_microphys.F90` has:
[code]
Fairly similar. Open, rewind, read, check, close. However, later on in `fv_control.F90` there is this:
[code]
This is about the only place I could find that there was an `open_namelist_file()` without a `rewind()` right after it. But, the `check_nml_error

[2019-08-08 13:15] mathomp4 commented on #34
I am trying one thing now. Per Rusty in the source:
[code]
This seems to be triggered by the `INTERNAL_FILE_NML` codepath. It would save file closes and opens if it works.

I'm building with the appropriate macro set and we'll see if it can even run.

[2019-08-08 13:19] mathomp4 commented on #34
Or wait, maybe not. FMS code is fun to read...

[2019-08-08 14:06] mathomp4 commented on #34
Well, that wasn't too hard. I can definitely activate the `INTERNAL_FILE_NML` path. You have to change a few `CMakeLists.txt` and edit the two microphysics files, but it seems zero-diff. Whether or not it helps is another ball of wax, but I suppose between @wmputman or @sdrabenh if one of you seems to more consistently hit the error, it could be something to try.

NOTE: I didn't change the compila

[2019-08-08 19:30] mathomp4 commented on #34
@wmputman et al, I sent an email to Rusty about `INTERNAL_FILE_NML`:

He replied with:

As you run on many, many processors, @wmputman, it might be worth moving to `INTERNAL_FILE_NML` for some testing. It might cost some MPI time to broadcast the character array, but it's probably better than 1000s of processes all opening the same file.

[2019-08-12 13:44] pchakraborty commented on #33
Add "CircleCI status badge" to GEOSgcm repository's README once the branch feature/pchakrab/#33-circleci-config has been merged to master

[2019-08-13 18:14] #29 closed

[2019-08-14 13:24] mathomp4 commented on #30
Closing for now as we may not want the uncoupled version on git until testing is done.

[2019-08-14 13:24] #30 closed

[2019-08-14 13:25] mathomp4 commented on #26
Fixed in ESMA_env v1.3.2.

[2019-08-14 13:25] #26 closed

[2019-08-16 13:31] #33 closed

[2019-08-20 16:42] wmputman opened #38 "Standalone FV3"
for resolutions of c180 and c360 the standalone FV3 core runs just fine.  At c720 and larger grids there is a unusual FMS error that is preventing things from running with the following error traceback that is basically failing on a check to see if this grid file exists 'INPUT/grid_spec.nc',  (which it does):

forrtl: severe (174): SIGSEGV, segmentation fault occurred
Image              PC

[2019-08-20 20:10] bena-nasa commented on #38
Can you provide details, number of cores you are running. Does this only affect the standalone? Have you seen this with the full GEOSagcm? Is the consistently reproducible?

[2019-08-20 20:12] bena-nasa commented on #38
Also, where is your standalone fv3 script. I might be useful if this were captured and maintained in the repository so that anyone of us can just run the standalone easily.

[2019-08-20 20:51] wmputman commented on #38
The run.j script is here

/discover/nobackup/projects/gmao/osse2/FV3_BW

At c720 this consistently happens at any core count. I have no issues with the full model.

-Bill

________________________________
On: 20 August 2019 16:12, "Ben Auer" <notifications@github.com<mailto:notifications@github.com>> wrote:

Also, where is your standalone fv3 script. I might be useful if this were captured and mai

[2019-08-21 15:00] bena-nasa opened #39 "Jason-3_2"
The current master branch is point to v1.0.3 this need needs to be updated to v.1.0.4 as there were few more things from Jason-3_2 on cvs that needed to be fixed

[2019-08-21 15:04] #39 closed

[2019-08-21 21:18] bena-nasa opened #42 "make_bcs and make_tile do not work"
The make_tile and make_bcs scripts are not working in the new CMake build system. User bena-nasa has gotten a first stab at cmake so that Raster/src will build and install as part of the install target (although I have not tried to match the old flags or build the 2 libraries, will need help from Tom and Matt with this). However, the make_bcs and make_tile script are just broken, they were buildin

[2019-08-22 17:27] JustinPerket commented on #42
@smahanam would you be willing to sit down together to get make_bcs and make_tile functional and validated with the cvs version? Heavier rewrites, and future plans of these tools can be discussed as a bigger group

[2019-08-23 16:08] bena-nasa commented on #38
What is the tag you are noticing this with? Is this the CVS/GNU build or the git/cmake build? Is this on scu11 or scu12. I built Jason-UNSTABLE on SLES12 as it looked like your run script was using Jason-UNSTABLE built on SLES12. I ran c720 at 8x48 on SLES12 without issue.

[2019-08-23 16:26] wmputman commented on #38
From the CVS/GNU build, Jason-UNSTABLE.  Where is your executable?

-- Bill Putman

William M Putman
Global Modeling and Assimilation Office
NASA Goddard Space Flight Center
Cell: 240-778-5697
Desk: 301-286-2599

From: Ben Auer <notifications@github.com>
Reply-To: GEOS-ESM/GEOSgcm <reply@reply.github.com>
Date: Friday, August 23, 2019 at 12:10 PM
To: GEOS-ESM/GEOSgcm <GEOSgcm@noreply.github.com>
C

[2019-08-23 16:49] bena-nasa commented on #38
/gpfsm/dswdev/bmauer/models/Jason-UNSTABLE/GEOSagcm/Linux/bin, build for SLES12

[2019-08-23 16:57] wmputman commented on #38
I get the same error with your build:

/discover/nobackup/projects/gmao/osse2/FV3_BW/scratch_c720_L26_T1_8x48_40ppn_Jason-UNSTABLE-R4_NH.log

-- Bill Putman

William M Putman
Global Modeling and Assimilation Office
NASA Goddard Space Flight Center
Cell: 240-778-5697
Desk: 301-286-2599

From: Ben Auer <notifications@github.com>
Reply-To: GEOS-ESM/GEOSgcm <reply@reply.github.com>
Date: Friday, Augus

[2019-08-23 17:04] tclune commented on #42
@smahanam  I do not get the association of OpenMP with the issue that Ben mentioned.    His concern is the code is making assumptions about the directory location (src) and the underlying build mechanism.

Turning on OpenMP for an executable is straightforward for any given executable.   But it should work (albeit more slowly) without activating OpenMP.

[2019-08-23 17:21] smahanam commented on #42
I am able to build the Raster/ directory now. I will modify make_bcs to create BCs for all resolutions
 and Atmos-Ocean combinations that it currently supports.
@tclune if you could point me to a CMake file example that uses OpenMP, I can make that change and try - Thanks !

[2019-08-26 11:32] #3 closed

[2019-08-27 15:27] narnold1 opened #44 "scm_setup documentation and enhancement"
The SCM setup procedure has changed with the git transition, so at the least the documentation needs to be updated.  Ultimately it would be nice if scm_setup worked like gcm_setup, allowing user to run in install/bin/ and specify experiment directory and SCM case.

[2019-08-28 13:25] tclune opened #46 "Add GEOSgcm gatekeepers to CODEOWNERS"
I believe that the CODEOWNERS file should at least add this team to the manage-externals config files and probably all source under the GCM and the GCM grid comp.   This will ensure that things go green only after at least one of them has done the review.

[2019-08-28 13:51] tclune opened #47 "Simplify manage-externals config files"
While ME is a bit strict about the contents of config files, there are a few things that can be done to simplify our existing scripts.      Basically, we can have a DEFAULT section ala

[code]

And then delete those 2 lines in each of the sections.

I'm opening the ticket here, but this applies to about a dozen repos that have config files.

[2019-08-29 18:31] #46 closed

[2019-09-06 13:47] JustinPerket commented on #42
@smahanam Any progress on making make_bcs and make_tile functional (with or without OpenMP)?

[2019-09-06 14:02] smahanam commented on #42
Thanks for the reminder. I just started working on it yesterday. We removed "src" in "Shared/Raster" and moved all codes from src to Shared/Raster.
That would be my next PR along with some fix to start with for [#46](https://github.com/GEOS-ESM/GEOSgcm_GridComp/issues/46)

[2019-09-06 14:27] JustinPerket commented on #42
I would argue this is more crucial. We can't release a stable LDAS tag without these working

[2019-09-06 14:40] aerorahul opened #49 "GEOSgcm master broken!"
Moving FMS outside of GMAO_Shared and bumping the tag from 1.0.3 to 1.0.9, broke the master on this GEOSgcm fixture.

I don't think the movement of FMS is the issue.
Probably needs a new BASELIBS.  In which case g5_modules in @ env needs to be updated on Discover.  BASELIBS is at 5.1.7

[2019-09-06 14:42] mathomp4 commented on #49
No. I know the problem. A fix is incoming soon. It was a subtle CMake thing.

[2019-09-06 14:45] mathomp4 commented on #49
I'm doing a build-and-run test now to make sure.

[2019-09-06 15:16] #49 closed

[2019-09-06 15:31] smahanam commented on #42
It shouldn't take long (maybe, next week). I was cleaning my own backlog of CVS to git transition.
I don't know why you hold the LDAS stable tag for make_bcs modifications, though. The LDAS tag has nothing to with make_bcs. We have produced Icarus-NLv3 and we will use it.

The next time we will use make_bcs when we plan to produce the next version of BCs that is some months away.
We only have one

[2019-09-06 16:10] JustinPerket commented on #42
make_bcs is part of the GEOSgcm_GridComp repository (maybe this issue should be moved/referenced there), so LDAS has it too. I would argue we should not have a stable release of the GCM or LDAS with these utilities broken.

[2019-09-10 11:44] mathomp4 opened #55 "Rename GFDL_fms to fms"
Per @aerorahul, rename all CMake references to `GFDL_fms` to `fms`.

[2019-09-24 16:20] gmao-esherman opened #61 "Chemistry species tendency diagnostics"
A zero-diff code change is proposed for GEOSchem_GridComp which would allow for convenient output of tendency diagnostics of all chemistry species with respect to Turbulence, Moist (convection), Dynamics, Water Mass rescaling, and Chemistry. It would also allow for chemical species with identical names to exist in two or more GridComps (e.g. StratChem and TR can both contain SF6).

This change inv

[2019-09-30 14:51] tclune commented on #61
@wmputman This is a big zero-diff change from the chemistry folk.   Needs your approval to proceed.

[2019-10-02 16:46] mathomp4 commented on #55
This has been done.

[2019-10-02 16:46] #55 closed

[2019-10-15 15:34] mathomp4 opened #68 "Slight difference in some aerosol HISTORY output"
@gmao-esherman and @adarmenov,

I'm tagging you guys first as what I'm seeing is aerosol based. I think it's from something @adarmenov passed in, but I figure you are the two experts.

To wit, I came back from leave seeing this in my nightly tests:
[code]
Odd. I still got many a notification on my iPhone from Git and I didn't remember @sdrabenh  or @lltakacs making any non-zero-diff pulls. But I w

[2019-10-15 16:08] adarmenov commented on #68
@mathomp4 If this is related to GEOS-ESM/GEOSgcm_GridComp#94 then you should re-baseline.

[2019-10-15 16:12] #68 closed

[2019-10-17 18:09] wmputman commented on #61
With the transition now to GIT it will require that we formalize some processes for getting large code updates onto develop.  We need to have a code summary and review with appropriate attendance from the relevant gatekeepers.  For this request we need at least @wmputman @gmao-esherman @sdrabenh and @lltakacs at the meeting.  I'd like to target Monday/Friday afternoons for these code meetings. I w

[2019-10-29 19:36] srfreita opened #71 "Revised GF tracer transport, wet removal and evaporation"
Bug fixes, revised numerics, and including new formulations for the aerosols wet removal and advection by the environmental subsidence in the GF scheme.

[2019-11-04 19:23] JustinPerket commented on #42
Update:
@smahanam has a fix for make_bcs in the [GEOSgcm_GC branch bugfix/make_bcs_update](https://github.com/GEOS-ESM/GEOSgcm_GridComp/tree/bugfix/make_bcs_update), undergoing some tests.

[2020-01-08 18:11] atrayano opened #84 "Create a DataLake functionality"
The current lake model does not adequately predict the surface temperatures for certain lakes. In AMIP mode we use a workaround and label Great Lakes and Caspian Sea as being part of the ocean, and thus the SSTs are provided by DataSea component. This approach cannot be used in the coupled model, and therefore we keep 2 sets of tile file, and also creates restart incompatibility issues between AMP

[2020-01-08 20:06] atrayano commented on #84
This should have been open in a different repo. Closing it here

[2020-01-08 20:06] #84 closed

[2020-02-13 13:49] mathomp4 opened #103 "Move to FMS geos/2019.01.01 after MAPL 2.0"
After the move to MAPL 2.0, it has been stated (by @wmputman) that GEOSgcm should move to use a newer FMS. At present, the best tag for that is `geos/2019.01.01` which is based on NOAA's 2019.01.01 release with MAPL constants.

Some testing I did shows that it is zero-diff (in at least AGCM MERRA-2 runs) to the older Xanadu tag of FMS.

[2020-02-14 16:04] mathomp4 opened #106 "CircleCI is broken"
CircleCI needs updates for the fixture.

[2020-02-18 15:33] #106 closed

[2020-02-18 16:50] #103 closed

[2020-02-27 17:02] bena-nasa opened #115 "Coupled Model Broken in versions 10.9.0+"
Testing of the coupled ocean in the MAPL version 2.0 tags revealed the coupled model is not working.
The reasons for this are as follows.
1. There were changes in the master branch of MAPL in MAPL_GridManager and MAPL_TripolarGridFactory that never made it back to the develop branch, hence when we merged develop into master for version 2.0 we actually lost some changes needed for the coupled ocean

[2020-02-28 13:10] tclune commented on #115
@bena-nasa   Thanks for the nice summary.   For the historical record you might want to fix one of the "With"s in the last few sentences to be "Without".   I think it is the last one, but cannot be certain.  (The ellipses in the upper right let you edit past messages.)

Am I correct that we have other cases using LocStream with the same tag that are working fine?      Is there anything at all unus

[2020-02-28 16:04] yvikhlya opened #116 "Name conflicts when building MOM5 and MOM6 together"
When I build the coupled model with MOM6 (along with MOM5) and choose to run MOM6 in AGCM.rc, the model runs MOM6_GEOSPlug, but it calls ocean_model_init from MOM5(libmom.a), since top level module name and subroutine names are the same in libmom.a and libmom6.a. Other name conflicts are also possible. When I build the coupled model with MOM5 only, MOM6_GEOSPlug is not present and get replaced wit

[2020-03-02 14:30] tclune commented on #116
I think that in theory if we do the CMake dependencies correctly, the two libraries should not "see" each others modules.   It might be useful to try to replicate with gfortran.  Intel is sometimes overzealous in finding .mod files.

[2020-03-02 16:27] yvikhlya commented on #116
@tclune Tom, coupled model does not work with gfortran. This is not related to MOM. It crashes on reading sea ice grid, which we were writing wrong way for a long time. We are reading it wrong way too, that is why ifort works, but gfortran does not.

[2020-03-04 21:23] bena-nasa commented on #115
version 10.9.0, debug build Intel version 20.0.0.166 with intel mpi 20.0.0.166 on SLES12 also fails with a segmentation fault. I was unable to determine where, just got 20000 lines of this:
===================
   60  /gpfsm/dswdev/bmauer/models/github_v10.9.0/GEOSgcm/install-debug-sles12/bin/GEOSgcm.x() [0x18d348cf]
===================
    0  /usr/lib64/libucs.so.0(+0x1935c) [0x2aab9e3e835c]
    1

[2020-03-09 16:46] mathomp4 opened #121 "Use relative paths with mepo"
The `components.yaml` file has hard-coded URLs for the SSH interface. For things like generic users or Docker or anywhere else, it would be good to support HTTPS as well. Use the "relative path" capability of `mepo` to allow this.

[2020-03-10 13:27] mathomp4 opened #125 "Update MAPL to v2.0.2"
MAPL 2.0.2 has a bug fix from @bena-nasa which we hope fixes some of @wmputman issues at high-resolution.

[2020-03-10 13:27] mathomp4 commented on #121
Closed by #122

[2020-03-10 13:27] #121 closed

[2020-03-11 14:33] #125 closed

[2020-03-26 14:41] bena-nasa commented on #115
New data points:
I am still running this setup:
/gpfsm/dnb02/bmauer/experiments/testyuri
I now tried model version 10.12.0
Here are the latest findings:
Building with the debugging options, on either SLES11 or SLES12 using MPT results in a crash in cldmacro.F90, for me it occured on both 24 and 360 processors

[code]
If I run with optimization I get a crash like so

pe=00014 FAIL at line=00075

[2020-03-26 15:16] bena-nasa commented on #115
Another data point. Using the debugged build on sles12, but turning off the two moment cloud microphysics, it crashes in surface. Exactly as described in the previous comment in this issue. So the optimization must be covering something up in the two moment physics. But at least the surface crash seems to be reproducible regardless of optimization and the details of the moist phyiscs running.

[2020-03-26 20:09] bena-nasa commented on #115
Think we traced down the error we are seeing in surface. In GEOS_SurfaceGridComp.F90 there is a routine "dotype", in makes a call
[code]
It is failing on the verify right after this. Digging down, it was failing because dum is a 1-D pointer but in the export state of saltwater TSKINI is 2-D because it is really coming from seaicethermo in this case.

This seams like a flat out bug. Now before vers

[2020-03-26 20:55] sanAkel commented on #115
Cross-ref with Teams chat https://teams.microsoft.com/_#/conversations/19:92b200fdaf2e4e2bb5988fdbc946e2ed@thread.v2?groupId=d3aa8b3a-5845-4230-88c6-4b4a771dbc84&ctx=chat

[2020-03-27 12:44] sanAkel commented on #115
Try https://github.com/GEOS-ESM/GEOSgcm_GridComp/blob/bugfix/sanAkel/%23115-Coupled-Model-Broken/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSsaltwater_GridComp/GEOS_CICE4ColumnPhysGridComp.F90 from bugfix/sanAkel/#115-Coupled-Model-Broken

[2020-03-27 13:32] sanAkel commented on #116
If the sea ice grid was never read correctly, it should be a new issue. @yvikhlya please document it with a new Issue. Thanks!

[2020-03-27 13:59] bena-nasa commented on #115
I also have information on the other problem, namely the History.rc Yuri has been using causes History to crash.
I've traced that issue down. In History there is a block of code like so:
[code]
For some reason gnames if being returned with garbage after the grid name resulting in the assert tripping. In this case one of the two entries in gnames should be PE360x200-TM.
Indeed if one prints the tri

[2020-03-27 16:34] #22 closed

[2020-03-27 19:12] yvikhlya commented on #116
@sanAkel It was never read correctly, but now it is not straight forward to correct it. If we do it the right way, all v2 and v3 runs will crash.

[2020-03-27 19:17] sanAkel commented on #116
So what shall we do with gfortran?

@yvikhlya the whole point of documenting these in an issue is to fix them, some day!

[2020-03-27 19:27] yvikhlya commented on #116
@sanAkel I agree with you.

[2020-03-27 19:31] tclune commented on #116
Yes, but the gfortran aspect in this thread should probably be a separate issue.   It was only suggested as a diagnostic tool in this thread.

[2020-03-27 19:33] yvikhlya commented on #116
@tclune Yes, it should be a separate issue. I am doing it.

[2020-03-27 19:51] yvikhlya commented on #116
Opened a separate issue https://github.com/GEOS-ESM/GMAO_Shared/issues/85

[2020-03-28 17:24] sanAkel commented on #116
@tclune, @mathomp4 is it possible to fix the cmakelists so to avoid these conflicts? I removed MOM5, only keeping MOM6. Also got rid of references to MOM5 in the guest ocean GC.

https://github.com/GEOS-ESM/GEOSgcm_GridComp/tree/bugfix/sanAkel/%23115_and_%23116-coupledModel-issues/GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp

** as we discussed in the ticket, please let's get the infra

[2020-03-29 20:25] weiyuan-jiang opened #132 "mpi_finalize failed on sles12"
The error message
PMPI_Finalize(367)...............: MPI_Finalize failed
PMPI_Finalize(278)...............:
MPID_Finalize(1069)..............:
MPIDI_OFI_mpi_finalize_hook(1626): OFI domain close failed (ofi_init.c:1626:MPIDI_OFI_mpi_finalize_hook:Device or resource busy)

[2020-03-30 12:29] tclune commented on #116
@sanAkel I am unaware of any fundamental reason why we cannot simultaneously build both MOMs  presuming that both can build with the same single version of FMS.     If I understand the issue reported at the top of the thread, it should just be a matter of being a bit more careful telling CMake the correct dependencies.    The reason I wanted to explore with GFortran is that we have seen Intel be v

[2020-03-30 12:52] mathomp4 commented on #132
@weiyuan-jiang Is this solved by GEOS-ESM/MAPL#267?

[2020-03-30 12:52] mathomp4 commented on #132
Pinging @tclune

[2020-03-30 12:54] weiyuan-jiang commented on #132
@mathomp4 No. This is a different issue.

[2020-03-30 12:56] mathomp4 commented on #132
@weiyuan-jiang Okay. It was a hope

[2020-03-30 12:58] yvikhlya commented on #116
@tclune To replicate the issue, you would need to run a coupled model with MOM6 and MOM5 build together. For this, you need to clone v10.8.0 of GEOSgcm fixture, then use
[code]
to checkout externals, this will get you correct versions of GEOSgcm_GridComp and FMS. Then you need to clone my experiment at
[code]
Sorry, but i don't know the easy way to do the clone, @sanAkel was able to do this. Then,

[2020-03-30 13:06] weiyuan-jiang commented on #132
Actually this is the issue #258 at MAPL you raised . This may be a problem from compiler or impi. Should I remove this issue? @mathomp4

[2020-03-30 13:12] mathomp4 commented on #132
@weiyuan-jiang It might be good to have it here as well. Then if GEOS-ESM/MAPL#258 is ever resolved (or vice versa) we'll know about it.

[2020-03-30 13:37] sanAkel commented on #116
@tclune, following are @mathomp4 's instructions to build on sles 11 or 12:

"git clone -b feature/mathomp4/mom6-with-mapl2-2020Mar25 git@github.com:GEOS-ESM/GEOSgcm.git
cd GEOSgcm
mepo init
mepo clone

You then build it like a normal model with cmake, etc."

# SLES 12
mkdir build-Debug-SLES12; cd build-Debug-SLES12
cmake .. -DBASEDIR=$BASEDIR/Linux -DCMAKE_INSTALL_PREFIX=../install-Debug-SLES12 -

[2020-03-31 13:12] tclune commented on #116
@sanAkel Starting in on this issue this morning.    But am immediately confused.   The instructions only provide me with MOM6.    Can someone give me a tag that demonstrates the MOM5 + MOM6 issue?      Some of the lower bullets in your message hint that there is a directory on discover that does this, but ...

[2020-03-31 15:00] sanAkel commented on #116
@tclune just to be sure:

Above Instructions (originally from @mathomp4)
"
git clone -b feature/mathomp4/mom6-with-mapl2-2020Mar25 git@github.com:GEOS-ESM/GEOSgcm.git

cd GEOSgcm
mepo init
mepo clone

"

Should have both MOM5 and MOM6 at:

/GEOSgcm/src/Components/@GEOSgcm_GridComp/GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp

├── CMakeLists.txt
├── GuestOcean_GridComp.F90
├── MOM6_GEOS

[2020-03-31 15:03] sanAkel commented on #116
Perhaps a bit cleaner:

GEOSgcm/src/Components/@GEOSgcm_GridComp/GEOSogcm_GridComp/GEOSocean_GridComp/GuestOcean_GridComp/

.
├── CMakeLists.txt
├── GuestOcean_GridComp.F90
├── MOM6_GEOSPlug
└── MOM_GEOS5PlugMod_getRid

[2020-03-31 15:58] tclune commented on #116
Hmm.   I have MOM6 and not MOM5.    And I do see the MOM5 entry in the mepo yaml file, so am wondering if maybe something went wrong with the mepo clone.   I would have investigate there but simply assumed I did not have the right branch/tag.

Will update you when I know more.

[2020-03-31 17:02] tclune commented on #116
Weird.  2nd attempt has those directories.   So unless the build itself somehow deleted them, I have no idea how I ended up with something partial.   Building again now.

[2020-03-31 17:22] yvikhlya commented on #116
@tclune The branch  which Rahul left has both, MOM5 and MOM6, and this is what we want, we just can't build them both together into same executable. Ideally, we want to have an option to build one or another.

[2020-03-31 17:55] sanAkel commented on #116
With @aerorahul we `built' a single build and run time option to switch. Of course, we never ran it, certainly not myself. So I never knew if that intent was functional.

For now, I'll gladly take the option to build GEOS with either MOM5 (as default until some TBD date) and then switch default to MOM6.

@tclune if this is an easier thing, let's go ahead with it!

[2020-03-31 18:42] aerorahul commented on #116
@yvikhlya That is not true.  I was able to build both together.  I also added code to chose one or the other at runtime.

[2020-03-31 18:45] sanAkel commented on #116
yes! all that was done:
- add MOM6 (GFDL code + plug)
- ability to build with MOM5 and MOM6
- ability to switch between both MOMs at run time.

* But *NONE* of the above were tested. Until RECENTLY!

[2020-03-31 18:53] aerorahul commented on #116
@sanAkel The last statement is only half true.  A run test was performed with existing MOM5_Plug and the changes to the GuestOcean_GridComp (to enable use of  MOM6_Plug at runtime) were found to be bit reproducible.  The test was coordinated with @yvikhlya.  I never tested the MOM6 run compatibility, because the MOM6 was not configured to be run as part of the GEOS environment.

[2020-03-31 19:05] sanAkel commented on #116
@aerorahul to repeat in my words, yourself and/or @yvikhlya tested whether following changes leave the MOM5 functionality intact

ability to build with MOM5 and MOM6
ability to switch between both MOMs at run time.

but not the new addition: MOM6.

And that's where we are now!

[2020-03-31 19:06] aerorahul commented on #116
@sanAkel correct.  MOM6_Plug in GEOS was not tested in a run mode.

[2020-03-31 20:21] yvikhlya commented on #116
@aerorahul @sanAkel The changes which Rahul made in GuestOcean do not affect the coupled model in the setup which we usually use. We discussed this and both of us doubled checked this. What complicates the debugging process now is that now with recent updates to the model mom5 does not work either. Should we fix MOM5 set up first and then move to MOM6? This would sound reasonable to me.

[2020-03-31 20:26] sanAkel commented on #116
@yvikhlya let's check with @bena-nasa on

In any case, I'm revising the MOM6 plug, because there are things in it that are not correct!

[2020-03-31 20:41] yvikhlya commented on #116
I think i start with this. On SLES12.

[2020-04-01 12:28] tclune commented on #116
I was wrong about this being an overt problem with dependencies in our CMake scripts;  the problem is inherent due to the use of the same named modules in both versions of MOM.

But ... I demonstrated with a toy example that the use of SHARED for the libraries fixes this problem.   Now, my memory is that we disabled the ecbuild aspect that would otherwise have automatically added the SHARED proper

[2020-04-02 18:45] tclune commented on #116
Ok - we have a solution of sorts.   On OSX it was sufficient to simply build both mom libraries as shared (requires a few extra lines and an update to @cmake).

However, on Linux that was not sufficient and another step was needed in the run script:
[code]
So robust use will require updates to gcmsetup.j and experiments to see if relative path is sufficient.

[2020-04-02 18:46] tclune commented on #116
@sanAkel will be pushing a fix elsewhere.

[2020-04-02 18:46] #116 closed

[2020-04-02 21:27] atrayano commented on #115
@bena-nasa already described this behavior. Definitely sounds like a memory corruption. We can put a workaround, but for the time being I do not want to mask the "bad" behavior

[2020-04-14 12:56] mathomp4 opened #136 "GEOSgcm can not run with GNU compilers"
Something happened last night that broke GEOS with GNU:
[code]

If I had to guess, the change is due to GEOS-ESM/GEOSgcm_GridComp#174 which brought in the obio connections. I'm guessing no one ever ran it with GNU?

[2020-04-14 13:04] mathomp4 commented on #136
With debugging on, we seem to have a better output:
[code]
I will open a ticket in GEOSgcm_GridComp.

[2020-04-20 20:52] mathomp4 commented on #132
I believe this is now fixed by MAPL v2.0.6+ and v2.1.1. Closing

[2020-04-20 20:52] #132 closed

[2020-04-28 12:24] #23 closed

[2020-04-28 12:24] #21 closed

[2020-05-04 16:57] mathomp4 commented on #136
This is definitely fixed

[2020-05-04 16:57] #136 closed

[2020-05-04 16:57] mathomp4 commented on #115
@bena-nasa I believe we can close this, right?

[2020-05-04 16:58] mathomp4 commented on #47
I am closing this as wontfix as we are moving to mepo

[2020-05-04 16:58] #47 closed

[2020-05-04 16:58] mathomp4 commented on #44
I believe `scm_setup` now does this. Maybe not perfectly, but better than before. Closing.

[2020-05-04 16:58] #44 closed

[2020-05-04 16:59] mathomp4 commented on #42
I'm going to close this. I believe it works now and if not, a new ticket can be opened.

[2020-05-04 16:59] #42 closed

[2020-05-04 16:59] mathomp4 commented on #61
@gmao-esherman I believe we can now close this, correct?

[2020-05-04 17:21] gmao-esherman commented on #61
Yes.

[2020-05-04 17:21] #61 closed

[2020-05-05 02:51] sanAkel commented on #115
I think so, @yvikhlya would you please **confirm** with your tests??

[2020-05-05 11:41] yvikhlya commented on #115
@mathomp4 these issues are resolved, but v10.12.3 release has other issues with tripolar ocean history collections. This is a separate story.

[2020-06-11 15:58] lizziel opened #156 "module load GEOSenv (SLES11) fails on discover"
Starting very recently I get this error when loading GEOSenv:

[code]

I checked the README for GEOSgcm but the instructions have not changed. Is there a new environment file required for use with GEOSgcm master?

[2020-06-11 19:23] lizziel commented on #156
Jonathan, until we get a response from @mathomp4 , go ahead and use my modified GEOSenv file located here:
`~ewlundgr/modulefiles/GEOSenv.ewl`

You also need to add this to your .bashrc and source it before doing module load:
`module use -a ~ewlundgr/modulefiles`

The new file has modified modules for git and cmake. I used module spider to find ones that actually work since the ones included in GE

[2020-06-11 19:27] mathomp4 commented on #156
@lizziel My first guess (as I can't see much in your home directory) is that somewhere in a `.tcshrc` or `.bashrc` you have:
[code]
That works fine if you are on a SLES 11 node, but the default head node you get on discover now is SLES 12. You need to protect that a la:
[code]
You can't source the SLES 11 GEOSenv on SLES12

[2020-06-11 19:34] lizziel commented on #156
Thanks @mathomp4.

[2020-06-11 19:34] #156 closed

[2020-06-15 14:05] mathomp4 opened #158 "Remove GSW as external repository controlled by mepo/externals"
Per @sanAkel, the MOM6 testing will move to use the GSW contained as a git submodule rather than using a separate fork/repo.

Should be simple to remove.

[2020-06-15 14:28] sanAkel commented on #158
Thanks! @mathomp4

That's right! Plan is to do the **same** for all MOM6 packages,
https://github.com/NOAA-GFDL/MOM6/tree/dev/gfdl/pkg

[2020-06-15 14:29] mathomp4 commented on #158
@sanAkel I think GSW was the only one we split out, though. The others I've never seen 😄

[2020-06-15 19:46] #158 closed

[2020-06-17 19:08] sanAkel commented on #115
May be this can be **closed** ??

[2020-06-30 12:52] mathomp4 commented on #38
@wmputman Was this resolved?

[2020-06-30 12:52] mathomp4 commented on #115
@sanAkel I think so. @yvikhlya any objections?

[2020-06-30 12:54] yvikhlya commented on #115
This is fixed long time ago.

[2020-06-30 13:11] mathomp4 opened #164 "ESMF Logging Errors at L132"
I recently updated my nightly tests to look at ESMF logging errors on *all* tests. And in doing so, my badly-named `ops132` test threw a FAIL.

So, I set up a simple C24-L132 run on discover, and if you run it for 0+ days, you get the the ESMF logging errors:
[code]
To enable logging:
[code]

Filing here as I'm not sure if it's MAPL or GCM or what.

[2020-06-30 15:19] mathomp4 opened #166 "Running L132 with Replay Crashes GEOSgcm v10.13.0"
All,

In looking at #164, @atrayano asked in Teams if I was running Replay. I wasn't, but then I thought I should just in case that also triggers a different error with ESMF Logging.

Well, the short answer is: I don't know because it crashes. To wit, you get a:
[code]
and it traces back to `nh_core.F90`. I can't figure out how to copy-and-paste the traceback in DDT so:
<img width="1708" alt="Scre

[2020-06-30 15:42] sdrabenh commented on #166
@mathomp4, @wmputman mentioned yesterday that anything other than 72-levels will default to NonHydrostatic. The solution is to run hydrostatic by setting the following in fvcore_layout.rc:

&fv_core_nml
 Make_NH = .F.
 k_split = 2
 hydrostatic = .T.
 do_sat_adj = .F.
 z_tracer = .T.
 fv_debug = .F.
 hord_mt = 5
 remap_option = 0
/

[2020-06-30 16:15] mathomp4 commented on #166
Ah. I'll give it a try. If this is correct, then I might propose an update to `gcm_setup` to change this.

[2020-06-30 16:42] mathomp4 commented on #166
@sdrabenh @wmputman Okay. That's definitely happier.

SRight now, hydrostatic=true/false is controlled by the horizontal resolution (I think C768 and higher is NH by default).

Some testing shows that by default C12, C24, and C48 all will crash with L132 Replay. C48 is still a useful resolution and as such, I'd like to make `gcm_setup` make usable experiments. I can propose a change to `gcm_setup`

[2020-06-30 16:48] mathomp4 commented on #115
Closing! Huzzah!

[2020-06-30 16:48] #115 closed

[2020-06-30 16:50] sdrabenh commented on #166
I think @wmputman will have the best advice. However, my thought would be to make this a question part of gcm_setup whereby the default value for <C360 is hydrostatic and >C720 is non-hydrostatic.

[2020-07-02 18:07] wmputman commented on #166
I'd like to have the option made in the setup, for now I tried to default all 72L cases to hydrostatic, and all others to non-hydrostatic.  There some additional choices we need to make depending on the microphysics too for NH. Plus, NH benefits from a rebuild with additional options, but works just fine with the hydrostatic build for reasonable resolutions.  I'm kind of rambling on, in the end wh

[2020-07-02 18:18] wmputman commented on #166
Here are the key settings:

Hydrostatic:

&fv_core_nml
Make_NH = .F.
k_split = 2
hydrostatic = .T.
do_sat_adj = .F.
z_tracer = .T.
hord_mt = 5
/

NH for 1MOM and MG1:

&fv_core_nml
Make_NH = .T.
k_split = 2
hydrostatic = .F.
do_sat_adj = .F.
nwat = 3
z_tracer = .T.
/

NH for GFDL MP:

&fv_core_nml
Make_NH = .T.
k_split = 2
hydrostatic = .F.
do_sat_adj = .T.
nwat = 6
z_tracer = .T.
/

I also hate h

[2020-07-02 18:22] sdrabenh commented on #166
@wmputman it sounds like we should add 2 additional questions to gcm_setp: one for MP choice and another for hydrostatic/nonhydrostatic?

[2020-07-02 18:26] wmputman commented on #166
Yes, I think that is important

[2020-07-02 18:26] sdrabenh commented on #166
@wmputman if we add a MP choice, what are the basic options need to set in AGCM.rc ?

[2020-07-02 18:27] sdrabenh commented on #166
...for running MG1 or GFDL ?

[2020-07-02 19:30] wmputman commented on #166
It's as simple as setting:

CLDMICRO: GFDL
or
CLDMICRO: 2MOMENT

[2020-07-02 19:35] sdrabenh commented on #166
@wmputman that's it?! Okay, great. I'll rework gcm_setup.

[2020-07-17 20:43] mathomp4 opened #177 "GEOSgcm GCC Build is broken"
For some reason, the latest updates to the GCM broke the CI:
[code]
Note if I build on discover with GCC 9.3.0 and Open MPI, it builds just fine.

I did try upticking to GCC 10.1.0 on CircleCI to see if that helped, but no go.

So, I'm a bit lost.

First, @tclune have you ever seen this error? I'm wondering if perhaps it is due to the fact that the `medium` resource class on CircleCI has only 4 GB

[2020-07-17 20:44] mathomp4 commented on #177
Note: `MOM6_GeosPlugMod` does not have 100000 lines of code 😄

[2020-07-17 20:49] mathomp4 opened #178 "Testing of proto v10.14.0 Release"
As a *lot* of changes have occurred here, let's make a tracking issue for tests of the proto-v10.14.0 release:

- [x] AMIP
- [x] AMIP regress
- [x] AMIP replay
- [x] AMIP replay regress
- [x] AMIP replay-no-increment
- [ ] AMIP replay-no-increment regress
- [x] MOM5
- [x] MOM6

[2020-07-17 20:52] yvikhlya commented on #178
@mathomp4 @sdrabenh There is inaccuracy in release description:

4. Updated MOM5.

Actually, MOM6 was updated.

[2020-07-17 20:53] mathomp4 commented on #178
Well, technically the *CMake* for MOM5 was updated, but, yes, the code inside was not. I'll make a change to the wording.

[2020-07-17 20:56] sdrabenh commented on #178
@yvikhlya would you like mom5 updates removed or is @mathomp4 wording ok?

[2020-07-17 21:01] yvikhlya commented on #178
MOM5 itself was not changed from v10.13.0 to v10.14.0, only CMakeLists. MOM6 plug and @mom6 were added to main (before, they lived on separate branch). Anyway, this is just wording.

[2020-07-17 21:38] sanAkel commented on #178
@mathomp4
I assume that yourself and/or @sdrabenh have already tested v10.14.0 for:
- AMIP
- AMIP regress
- AMIP replay
- AMIP replay-no-increment
- AMIP replay-no-increment regress

**Note:** I would need some help to do such test(s)!

As for:
- MOM5
- MOM6
myself and @yvikhlya have already tested what was in PR.

So, really, I'm not sure what this issue is about!
Do you suggest a `fresh` clone o

[2020-07-17 21:43] yvikhlya commented on #178
A bunch of things went into this release besides MOM6, some of them after we merge develop onto MOM6 branch, so it is not bad idea to test everything again. This will not take long.

[2020-07-17 21:46] sanAkel commented on #178
Just saw your messages on teams chat.

I can do the MOM6 testing and perhaps MOM5 as well. First I'll do MOM6.

[2020-07-17 21:48] mathomp4 commented on #178
@sanAkel Scott will be doing the AMIP tests. I just added you guys to let you know and as the mom masters. 😄

[2020-07-20 17:53] mathomp4 commented on #177
Update: I think I had a bad test of GCC on Friday. I can confirm it is the GCC build in whole that is broken in v10.14.0

[2020-07-20 19:24] atrayano commented on #177
@mathomp4
The error message rings a bell - but the only thing that comes to mind is that we need to open the "file" with all_pes=.true.. I believe we have fixed these several times

[2020-07-20 19:54] sanAkel commented on #178
@mathomp4 both MOM5 and MOM6 ran okay. I hope AMIP tests for @sdrabenh also go well.

[2020-07-20 20:37] #178 closed

[2020-07-20 20:37] mathomp4 commented on #166
Fixed in v10.14.0. Closing.

[2020-07-20 20:37] #166 closed

[2020-07-20 20:38] #25 closed

[2020-07-20 21:31] #177 closed

[2020-07-31 19:41] mathomp4 opened #183 "Update GEOSgcm to Intel 19.1?"
This is a generic issue asking for opinions (mainly from @wmputman) about moving to Intel 19.1 with GEOSgcm. I'd most likely recommend Intel 19.1.2 (the latest version).

The reasons are many but amongst them are that:

1. GEOSldas requires Intel 19+ on SLES 12 (paging @weiyuan-jiang, @gmao-rreichle)
2. The JEDI folks are also in Intel 19+ land (paging @danholdaway)
3. Perhaps even the Harvard Fol

[2020-08-03 12:57] mathomp4 commented on #183
More reason to advance Intel from @bena-nasa:

I might let him expand more about his testing, etc here.

[2020-08-03 14:16] danholdaway commented on #183
For what it's worth we generally skipped Intel 18 for JEDI due to the number of bugs we were finding that went away with Intel 19 and 20. As such we can only build GEOS with Intel 19 for the work we are doing where GEOS and JEDI are built in the same executables.

[2020-08-03 14:46] mathomp4 commented on #183
@danholdaway Thanks. I'm hoping to target Intel 19.1.2 (aka 2020 Update 2). Do the JEDI folks have any experience with that version? Hopefully it works?

[2020-08-03 14:55] danholdaway commented on #183
@mathomp4 I haven't tried to build the jedi-geos interface with that version but it's the default version of the modules when not linking to GEOS and is works well.

[2020-08-03 15:26] mathomp4 commented on #183
@danholdaway May I present:
[code]
I built it with:
[code]
Could you give it a spin?

[2020-10-05 13:14] adarmenov opened #208 "Bring WMMA (GEOSwgcm) into git"
Track WMMA model development with mepo.

[2020-11-19 15:24] #183 closed

[2020-11-19 15:25] #38 closed

[2020-12-08 21:34] #164 closed

[2021-01-07 15:10] mathomp4 opened #243 "GEOSgcm Broken on macOS (for me)"
This is sort of a tracker issue mainly for myself and @tclune and others in the @GEOS-ESM/gmao-si-team that might run GEOS on their laptop. To wit, if I try to run GEOS on my macOS laptop, it dies with:
[code]

Running on discover with GCC 10 works, so I blame macOS. This issue will let me track various tests.

[2021-01-07 15:11] mathomp4 commented on #243
First noted here: https://github.com/GEOS-ESM/MAPL/pull/625, but that branch seems unrelated as MAPL 2.4.0 also fails.

[2021-01-07 15:14] mathomp4 commented on #243
Thoughts I have:
1. I have built and ran GEOS with GCC 10.2.0 just fine, so I can't think it's that
2. Open MPI 4.1.0 is new to me, so perhaps that is the issue? I'll try using 4.0.5 and see if that runs.
3. I will also try Intel 19.1.3 and Open MPI 4.1.0. If that fails as well, more data.

[2021-01-07 15:38] mathomp4 commented on #243
Confirmed. Fails with GCC 10.2.0 and Open MPI 4.1.0 with both `Release` and `Debug`.

[2021-01-07 16:24] mathomp4 commented on #243
I did a test on Discover with Baselibs 6.0.27 (as by default we use 6.0.22 there) and it passed, so it isn't Baselibs version.

[2021-01-07 17:02] mathomp4 commented on #243
Welp, GCC 10.2.0 + Open MPI 4.0.5 works. I guess that points to Open MPI. And I suppose I now need to build Open MPI 4.1.0 on discover...

[2021-01-07 20:17] yvikhlya opened #244 "Memory leak in coupled replay run"
When running a coupled model in replay mode with dual ocean set up, memory usage is growing until the model crashes with "insufficient virtual memory" error. Example printout:
[code]

Free coupled run does not have this problem. If I switch dual ocean mode off, but leave the replay on, memory also leaks (ocean IC do not cycle correctly in this case, this experiment just shows what happens when the

[2021-01-07 20:40] atrayano commented on #244
@yvikhlya Replay needs to save all the "checkpoints" in memory before we start the predictor step. Once this is done, we rewind the clock and read back these "saved" checkpoint. At this point these buffers should be freed, otherwise we could have a big memory leak. If I remember correctly, there was a similar bug in the past, but it was fixed. I will double check this though. Other than that, repl

[2021-01-08 17:56] mathomp4 commented on #243
Update: So, it looks like Open MPI 4.1.0 can work if one calls GEOS with:
[code]
or the equivalent:
[code]
or in an lmod:
[code]
This is from https://github.com/open-mpi/ompi/issues/8350

[2021-01-08 21:14] bena-nasa commented on #244
The culprit appears not to be the dual ocean, rather the experiment that led to this discover had this set in the resource file:
[code]
This causes both the Surface and ChemEnv gridded components to read several variables from the file using MAPL_CFIORead every timestep. This read is the cause of the memory leak.

[2021-01-08 21:57] yvikhlya commented on #244
This is a precipitation correction code and it is working fine in S2Sv3 tag. What changed in jason?

[2021-01-08 22:10] bena-nasa commented on #244
Nothing with this code as far as I'm aware, my current theory is that each time this read a fresh bundle is created and this includes allocating fields that are never destroyed. I'm trying now to properly create them so ESMF can actually deallocate them without having to retrieve the pointer. Although why this was not seen in earlier versions is a mystery.

[2021-01-13 18:37] sanAkel commented on #244
@bena-nasa does it imply that if there was no `precipitation correction` there would be no problem: no memory leak?

[2021-01-14 13:05] mathomp4 commented on #244
I want to say that @bena-nasa saw no memory leak if the file wasn't read, but he can answer more accurately. I know he got to a point where the memory leak was gone.

[2021-01-27 13:19] sanAkel commented on #244
@bena-nasa or @yvikhlya or someone else, which gridded component is actually **applying** this precipitation _correction_? I understand from above @bena-nasa's comment that it is being **read** by

Ideally please point me to the **exact** lines of code. I would appreciate that. Thanks!

[2021-01-27 13:58] mathomp4 commented on #244
Well, in Chem it seems to be this chunk:
https://github.com/GEOS-ESM/GEOSchem_GridComp/blob/6c086cadcdd418912ddff392f46ec4039bf7fcc3/GEOS_ChemEnvGridComp.F90#L458-L507
and in Surf it looks like this chunk:
https://github.com/GEOS-ESM/GEOSgcm_GridComp/blob/e0cf9fabbe700c3e23571466f444973dd6b20e4e/GEOSagcm_GridComp/GEOSphysics_GridComp/GEOSsurface_GridComp/GEOS_SurfaceGridComp.F90#L5748-L5834

[2021-02-12 21:18] bena-nasa commented on #244
The final issue was that  MAPL_CFIORead is using the "old" regridding layers in MAPL which apparently have a memory leak in my testing. I was unable to pinpoint exactly where but it was definitely the fact that it was making a regridder with the old (non-esmf) regridding layer. I delivered a temporary patch to Yuri to get him by that moves the regridding out of MAPL_CFIOread by reading passing a b

[2021-03-09 02:11] AgilentGCMS opened #260 "Disabling both GOCART and TR crashes model"
I am running the GCM (branch `10.17.0`) with SF6 through TR gridcomp successfully, with replay enabled. The run directory is at `/discover/nobackup/projects/gmao/geos_carb/sbasu1/runs/GCM/Jason_10.17.0_sf6_mip_c180`. I needed to run the same circulation but without any tracers, i.e., without TR. I followed the following steps:

1. I cloned that with `/discover/nobackup/sbasu1/GEOS/source/GEOSgcm-v

[2021-03-09 17:59] bena-nasa commented on #260
It might be ok, if AddConnectivity's import doesn't exist. In that case, perhaps there is shot of figuring this out. Checking on this now.

[2021-03-09 18:07] AgilentGCMS commented on #260
Hmm... I admit I've not tried running without GOCART **and** TR before. I'll try this with an earlier model version to see if that works, out of curiosity.

[2021-03-09 18:32] bena-nasa commented on #260
I was able to turn both of these off in v10.17.3 if I did the following in the AGCM.rc
[code]
SYNCTQ 0 turns off the TerminateImport that was causing problems. I also had to disable the aerosol callback in moist explicit with the USE_AEROSOL_NN, otherwise I got a divide by zero error there.

This is what seems to work in the latest Git tag.

[2021-03-09 18:51] AgilentGCMS commented on #260
I can confirm that those two settings in `AGCM.rc` work, i.e., the model runs without crashing. However, if I run a single species in TR, namely SF6, that isn't providing any aerosols, correct? Then why does running TR with just SF6 **not** require `USE_AEROSOL_NN: 0`?

[2021-03-09 19:00] bena-nasa commented on #260
Because the aerosols use for this callback from moist and radiation are the aerosols produced by the component specified with AERO_PROVIDER which is NONE or GOCART or GOCART.data, this callback mechanism does not call back to TR.
I would not say TR has anything to do with aerosols. It's constituents are ultimately packed into the same tracer bundle as the aerosols produced by gocart so they can be

[2021-03-09 21:52] #260 closed

[2021-03-22 18:43] #243 closed

[2021-03-22 18:44] sanAkel commented on #244
All ⤴️ seem resolved. Closing for now.

[2021-03-22 18:44] #244 closed

[2021-03-22 18:51] mathomp4 opened #271 "GEOS abuses MAPL_TICE: Worth fixing?"
In talking with @sanAkel today, we noticed that we "abuse" `MAPL_TICE` in GEOS. Namely, in `MAPL_Constants.F90`:
[code]
This is the triple point of water, and is correct. But in GEOS we also use it to convert to/from Kelvin, like in Catch GC:
[code]
This is not correct. The triple point of water is 273.16 K or 0.01 ºC. But 0 ºC is 273.15 K. So, we should probably have a:
[code]
that is used when w

[2021-03-22 19:22] sanAkel commented on #271
From what I can say for:

it does not have a "global" constant, every instance is declared and used as a "new variable" see for e.g.,
https://github.com/GEOS-ESM/GEOSana_GridComp/blob/cb564bf830b4beb4ff80e9c5363f1ee596b690ce/GEOSaana_GridComp/GSI_GridComp/clw_mod.f90#L1291

https://github.com/GEOS-ESM/GEOSana_GridComp/blob/cb564bf830b4beb4ff80e9c5363f1ee596b690ce/GEOSaana_GridComp/GSI_GridComp/gsd

[2021-03-22 19:35] gmao-rreichle commented on #271
Yes, there's a distinction between 0 deg C and the triple point of water.  But the difference is negligible compared to the uncertainties in the land model's representation of physical processes.  Soil water doesn't freeze at exactly 0 deg C.  Rather, it's somewhere around -2 deg C, if memory serves me right, and the freezing point of soil water probably varies by much more than the 0.01 deg C dif

[2021-04-01 19:05] mathomp4 opened #275 "GEOSgcm NH model does not regress: Start-Stop"
This was discovered by @sdrabenh as he was looking at the nonhydrostatic (NH) GEOS model. Turns out if you build GEOS for non-hydrostatic dynamics, the model does not start-stop regress. This usually points to an internal state issue. The question is: where?

I suppose there are two possible culprits: Dynamics and Moist. Maybe perhaps `DZ` and `W` are not being carried around correctly in Dyn? Or

[2021-04-01 19:06] mathomp4 commented on #275
For ease of testing, I have created a branch here on the fixture that grabs all of my PRs for this:
[code]

[2021-04-01 19:08] mathomp4 commented on #275
As an additional clue, @sdrabenh said that he saw an issue with the zero-increment replay (which I think means you turn on regular replay, but set `REPLAY_T`, `REPLAY_Q`, et al, to `NO`.  @sdrabenh can you tell us what test you did that saw this issue? Might help point us to the issue.

[2021-04-01 19:16] mathomp4 commented on #275
Note: I saw start-stop failure with a "default" experiment. I was only doing NH at C24 and nothing else exciting. (That is, no GFDL microphysics, etc.)

[2021-04-01 19:22] sdrabenh commented on #275
Correct, I ran the default 1MOM L72 C48 nonhydrostatic build for 1 day and it failed gcm_regress.j and the 0-increment test @mathomp4 mentioned which should produce results identical to AMIP mode. Furthermore, we are seeing similar issues in the GF2020 development branches. Since we haven't typically tested the NH model, the question is whether this is a new or old problem?

[2021-04-01 19:22] mathomp4 commented on #275
It looks like we never get the `DZ` or `W` internal state pointers in `DynCore_GridCompMod.F90`:
[code]
Maybe we should if nonhydro?

[2021-04-01 19:24] mathomp4 commented on #275
Ah yes. AMIP and Replay-NoInc should be identical. Thanks. I knew there was a test for that!

[2021-04-01 19:24] sdrabenh commented on #275
Good question perhaps @wmputman can comment

[2021-04-01 19:27] mathomp4 commented on #275
I forgot about `FV_StateMod.F90`. We do get the `DZ` and `W` internal state there. Maybe that file matters more...

[2021-04-01 19:38] bena-nasa commented on #275
I'll investigate the restart

[2021-04-01 19:43] sdrabenh commented on #275
Another clue, in a separate test built with the `feature/wmputman/DevDYAMONDv2_Merge04nhGF2020evap3` branches the GFDL NH model does regress. Could this be in issue with the 1 MOM microphysics? Unfortunately, that failed the 0-increment replay test.

[2021-04-01 19:57] mathomp4 commented on #275
I just tried GFDL with the "stock" GCM and it doesn't regress. So I guess GFDL is different in that branch!

[2021-04-01 20:58] bena-nasa commented on #275
I think DZ and W are being written ok in the restart, the pointers are filled in in FV_StateMod.F90 so I'm not sure what is going on. If you do a zero-length run you get identical restarts so. I can confirm the start/stop failure.
I'm wondering if the standalone FV3 would show this.
Could we be missing a variable? This is bizarre.

[2021-04-02 12:56] mathomp4 commented on #275
@wmputman Oooh. Okay. I'll work on testing this as I think I can easily make a sed rule for the second segment.

But, it does look like my (newly-regridded) restarts have all-0 `W` which this code bit from FV_StateMod:
[code]

I guess the question is: should we have some sort of "test" in `gcm_run.j` that looks to see if `W` in `fvcore_internal_rst` is all zero and sets `make_nh` to false if so?

[2021-04-02 13:00] wmputman commented on #275
@mathomp4: yes, having that variable in the nml as .F. is fine for me.  And then a user can change it if they want to (at the risk of causing troubles for long runs when they forget to remove it).

[2021-04-02 13:03] bena-nasa commented on #275
That does appear to fix the regression issue if I make that false for the 2nd segment.

[2021-04-02 13:09] mathomp4 commented on #275
Okay. I'll work on getting the logic right in `gcm_setup`, et al. Give me a bit...

[2021-04-02 13:55] mathomp4 commented on #275
Okay, I pushed updates to `gcm_setup` for the `make_nh` bits.

[2021-04-02 13:56] mathomp4 commented on #275
Also: weirdly, regression *did* work for me with my `make_nh` fixes in `gcm_setup`. I'm going to make a new clone with the branches I indicated above and be sure I don't have some non-committed fix.

[2021-04-02 14:07] wmputman commented on #275
USE_AEROSOL_NN needs to change in concert with two GFDL-MP nml values: prog_ccn and use_ccn

USE_AEROSOL_NN: 0
prog_ccn: .F.
use_ccn: .T.

USE_AEROSOL_NN: 1
prog_ccn: .T.
use_ccn: .F.

This is only relevant for GFDL-MP, for 1MOM only USE_AEROSOL_NN matters

[2021-04-02 14:17] mathomp4 commented on #275
Hmm. I was running 1MOM, and I'll try that first.

Also: I guess we should put a comment in the AGCM.rc telling folks to change those in concert?

[2021-04-02 14:29] mathomp4 commented on #275
@wmputman Hmm. A question. Currently in Moist, `USE_AEROSOL_NN` defaults to 1, which is why you have to uncomment out the line in `AGCM.rc` to get it to 0.

But the default values in `fvcore_layout.rc` in GEOSgcm_App are:
[code]
which matches your `USE_AEROSOL_NN: 0` settings.

Should we change the defaults in `fvcore_layout.rc` to match the default in Moist? Or should GFDL be running with USE_AER

[2021-04-02 15:04] mathomp4 commented on #275
Some testing. After I pushed the `make_nh` fix for `gcm_setup`:

| Run      | Regress |
| ----------- | ----------- |
| AMIP NH      | PASS       |
| Replay NH   |  PASS      |
| ReplayNoINC NH   |  PASS      |

So that is good!

Now for the bad. As @sdrabenh reported, with NH dynamics, AMIP is *not* identical to Replay-NoIncrement! They are identical for hydrostatic dynamics, so I see no reason t

[2021-04-02 15:36] mathomp4 commented on #275
I wonder, do we need a `REPLAY_W:` now for NH? Or maybe all those `DUDT` bits in AGCM/mkiau need to have a `DWDT` analogue? (This comment brought to you by "Matt doesn't really know how Replay works" aka "Matt asks @lltakacs or @atrayano when he has a replay question." 😄 )

[2021-04-02 15:53] wmputman commented on #275
I'll have to look at add_incs for NH...

[2021-04-02 15:58] wmputman commented on #275
There are never any W increments applied to FV3 (for now...) and DZ/PKZ just get adjusted based on T-Increments.  If they are 0.0 there should be no change.

       if (.not. HYDROSTATIC ) then
          ! remove old T from DZ
          STATE%VARS%DZ = STATE%VARS%DZ / STATE%VARS%PT

          ! Update T
          STATE%VARS%PT =  STATE%VARS%PT                         *DPOLD
          STATE%VARS%PT

[2021-04-16 16:05] sanAkel opened #284 "Re-organize sea ice components"
#### New structure:
- Create hierarchy of directory tree structure, rename files as needed and associated changes to cMakeList.txt which _look_ like those for ocean
   - ✔️ rename `LANL_cice` to `CICE4`: which allows us to create following options, see ⬇️ (Introduce coupler).
      - https://github.com/GEOS-ESM/GMAO_Shared/pull/177
      - https://github.com/GEOS-ESM/GEOSgcm_GridComp/pull/425

###

[2021-08-19 15:17] amdasilva opened #321 "AEROSOL FEATURE: bolide"
Starting development of boliude future, naming branch feature/####/geos-10.17.6/bolide

(This is fake, for testing purposes only)

[2021-09-10 13:53] pcolarco opened #328 "GOCART2G_configuration_checkin"
This effort is to checkin consistent emission configurations for GOCART2G. OPS (top level of each child) emissions are updated to the new CEDS emission inventories and point to NRT version of QFED and static volcanic emissions. Created a sub-directory AMIP in each child component that pushes same configuration down but updates to non-NRT QFED consistent named data set going back to 2000 and points

[2021-09-24 16:16] mathomp4 opened #331 "Meta Issue: Illegal MAPL_GetResource calls"
As seen in https://github.com/GEOS-ESM/GEOSgcm_GridComp/pull/459, there are some illegal `MAPL_GetResource` calls a la:
[code]
where the output is also an input. This issue will track possible lines that need fixed.

[2021-09-24 16:30] mathomp4 commented on #331
GEOSseaice_GridComp/GEOSCICEDyna_GridComp/GEOS_CICEDynaGridComp.F90:
[code]
GEOS_mkiauGridComp.F90:
[code]
GEOS_DataAtmGridComp.F90:
[code]
GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSlake_GridComp/GEOS_LakeGridComp.F90
[code]
GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSsaltwater_GridComp/GEOS_SimpleSeaiceGridComp.F90
[code]

GEOSphysics_GridComp/GEOSsurface_GridComp/GEOSsaltwater_GridComp/GEO

[2021-09-24 17:57] tclune opened #332 "Enable variant mepo styles"
Some tweaks are needed in cmake in a few places to allow variant placement of the "@" character used for mounting subrepositories.

[2021-09-24 18:09] mathomp4 commented on #332
Per #334, the repos are:

- [x] ESMA_cmake → v3.5.6
- [ ] GEOSgcm
- [ ] GEOSgcm_GridComp
- [ ] FVdycoreCubed_GridComp
- [ ] GEOSchem_GridComp

I'm going to do a test to see if these are safe to dribble in one-by-one into `develop` branches (assuming v3.5.6 is the ESMA_cmake). I think they should be fine to do so.

[2021-09-24 18:25] tclune commented on #332
Impacted repos:

- GMAO_Shared
- FVdycoreCubed_GridComp
- GEOSchem_GridComp

[2021-10-05 12:39] #332 closed

[2021-10-05 12:47] mathomp4 opened #336 "CICE Segfault with current GEOSgcm main"
There seems to be a problem with GEOSgcm and CICE4 at the moment. After the latest rounds of updates to GEOSgcm, I am now seeing a segfault with CICE4 in both MOM5 and MOM6 runs. Both point to the same line (truncated traceback):
[code]

Now, as far as I can tell, CICE4 hasn't changed in a *long* time, so this is probably on me. Two things have changed that I am suspecting:

1. We are using Intel

[2021-10-05 14:47] mathomp4 commented on #336
Okay. I can fix the CICE4 failure by reverting the flags there and I'm going to work on getting that in.

But we have another issue: MOM5 and MOM6 are non-zero-diff now. I've tried reverting the build flags for MOM5 and MOM6 to the old flags as well but that doesn't make them zero-diff. So, I'm thinking this might be due to Intel 2021.2. If so...not much I can do.

[2021-10-05 18:09] mathomp4 commented on #336
Note: MOM5 and MOM6 are zero-diff with 1moment, just not 2moment. Thus I must assume this is the 2moment issue like we saw in MAPL: https://github.com/GEOS-ESM/MAPL/issues/762

Not sure what triggered it, but I think day of the week can trigger non-zero-diff with 2moment it seems.

[2021-10-05 18:20] yvikhlya commented on #336
Matt, thanks you are looking into this. For coupled model we are trying to run different microphysics in feature/aogcm branch by the way, it may have different problems.

[2021-10-05 18:26] mathomp4 commented on #336
Eeep! Well, we shall see when we get to it!

[2021-10-05 18:51] #336 closed

[2021-10-12 17:16] mathomp4 opened #342 "Create and Install Tarfile of Source and Copy to Experiment"
This is something inspired by a question from @dr0cloud as well as trying to re-capture some GEOS CVS behavior. To wit it would be good if:

1. When you run `make install` in GEOSgcm, a tarfile of the code you just installed is made
2. When you run `gcm_setup`, we then copy over that tarfile into your experiment

But there are some caveats. For some people (myself, @bena-nasa, @tclune ... heck, th

[2021-11-09 19:16] #342 closed

[2021-11-10 14:37] mathomp4 opened #352 "Error with MOM5 with current main"
The current GEOSgcm `main` (as of today) seems to have an issue running MOM5. But as near as I can tell *nothing* has fundamentally changed with MOM5! There were some changes to GEOSgcm_App from Ricardo, but I tested those in a MOM5 run yesterday and it seemed to work. I also did an `xxdiff` between a working run from last night to the current test and pretty much all the differences are in whites

[2021-11-10 18:13] mathomp4 commented on #352
Well, I ran MOM5 at NAS on this "day of no NCCS" and it's duplicable.

To try and debug, first, I added some prints in that chunk of code above:
[code]
Here `counts` is from MAPL and `iec`, `jec`, etc. come from MOM5 (via FMS I guess?). In the good run (v10.19.4):
[code]
and on a bad run (`main`):
[code]
So for some reason, MOM/FMS is returning...no grid? Or something.

And again...we did not touc

[2021-11-10 19:49] yvikhlya commented on #352
Looks like a problem with decomposition. isc, jsc, iec, jec are start and ens indexes of compute domain. IM, JM is size of the domain.

[2021-11-10 20:19] mathomp4 commented on #352
@yvikhlya I agree but...nothing changed. My hope was that `input.nml` or something that helps control MOM got screwed up, but nope. Exactly the same!

My current fear is that this is one of those "We changed the memory state and things are running differently" things. As in, we can add a print statement in MOM5 somewhere and all will work again!

[2021-11-10 20:25] sanAkel commented on #352
@mathomp4
I can try look into it with you on Monday next week - in a debug build.

[2021-11-16 06:47] sanAkel commented on #352
We will get back to this issue on a _later_ date. @mathomp4 closing it for now, please feel free to reopen if needed. Thanks!

[2022-01-26 20:14] mathomp4 opened #369 "Update FMS and move FMS to Baselibs"
This is a "meta-issue" for moving FMS from in-model to Baselibs. At the same time, we update to FMS 2021.04.

The latter is needed because JEDI will (eventually) require a newer FMS (cc @danholdaway). The former is because, well, why build it in-model? FMS is rarely touched and as so is more like ESMF at this point. Plus it can be expensive to build and we build it *twice* (r4 and r8). If done in

[2022-01-26 21:15] mathomp4 commented on #369
The build time savings with Release build aren't explosive. Using Intel, with FMS:

https://ui.perfetto.dev/#!/viewer?trace_id=00000000-0000-0000-b375-1bc1cfb4e265

without FMS:

https://ui.perfetto.dev/#!/viewer?trace_id=00000000-0000-0000-0423-9bf8917f5d83

But I still need to try out Debug and GNU.

[2022-01-28 16:54] mathomp4 opened #371 "Move GEOS to use RRTMGP as a Fork"
In discussions with @dr0cloud a thought was to move GEOS to use RRTMGP as a fork a la MOM6 rather than embedded source code. This would allow better collaboration with @RobertPincus and the mothership repo.

This issue will track anything needed for this.

[2022-01-28 16:56] mathomp4 commented on #371
Note: We will need to set up the usual `geos/main` and `geos/develop` branches in our fork, etc. so we don't pollute the tracked upstream `main` and `develop`.

[2022-02-14 15:47] #371 closed

[2022-02-21 13:50] mathomp4 opened #376 "GEOSgcm `main` no longer works at NAS"
As expected, with the adoption of GOCART2G into GEOSgcm, the `main` branch no longer works at NAS.

As reported by @bena-nasa and myself earlier, this is due to the use of hard-coded discover paths in the boundary condition area. So NAS is trying to find:
[code]

[2022-02-22 13:49] tclune commented on #376
They won't change the file system for us?

:-)

[2022-02-22 14:16] mathomp4 commented on #376
Well, Ben and I could tell rsync to follow symlinks which would just move the data over, but it could cascade into storing a *lot* of duplicate files. Or we could tell it to exclude those symlinks and make our own relative to the data on NAS already, but that was counter to what Arlindo wanted. He wanted the actual files to be in ExtData/chemistry.

I guess for now I'll only do model builds at NAS

[2022-02-22 19:18] sanAkel opened #377 "A separate repository for `GEOS_OceanGridComp`"
**Can following be split into its own repository?**

- [GEOS_OceanGridComp.F90](https://github.com/GEOS-ESM/GEOSgcm_GridComp/blob/develop/GEOSogcm_GridComp/GEOS_OceanGridComp/GEOS_OceanGridComp.F90)

- [GEOS_Ocean GC](https://github.com/GEOS-ESM/GEOSgcm_GridComp/tree/develop/GEOSogcm_GridComp/GEOS_OceanGridComp/)

**Why?**

- This frees up ocean modeling development from the rest of GEOSgcm_GridCo

[2022-02-23 13:31] mathomp4 opened #380 "GEOSgcm GNU runs do not pass regression"
So, now that we've fixed the GNU run issue by updating to Chem 1.8.1 (#378), my tests are now showing that *ALL* GNU runs do not pass regression. I'm not sure if it's start-stop or layout, but I have to assume layout since start-stop is usually much more fundamental.

But I'm baffled as to why Intel would. My guess is this is some pointer thing again in either Chem or GOCART. I'll probably be ping

[2022-02-23 13:33] tclune commented on #380
May I just say:  "bleh".

[2022-02-23 14:01] mathomp4 commented on #380
Actually, it might be start-stop. I tried 4x24 and 3x12 and all was good. Time to make up a start-stop test.

[2022-02-23 21:51] mathomp4 commented on #380
Yeah. It's start-stop. Huh.

[2022-03-01 20:01] mathomp4 commented on #380
Okay. So with the help of @aoloso, I ran one instance at a time. And I got:

| Instance | Restart Failures |
|:--------:|:----------------:|
| DU       | du_int, ss_int |
| SS       | fvcore_int, moist_int, moist_imp, aiau_imp, turb_imp, gocart_imp, du_int, ss_int, hemco_imp, saltwater_imp |
| CA.oc    | du_int, ss_int |
| CA.bc    | du_int, ss_int |
| CA.br    | du_int, ss_int |
| SU       | du_i

[2022-03-01 20:27] mathomp4 commented on #380
I think I might need to ping @pcolarco to start.

Pete, for context, the runs above were made as so:

1. Run 2 steps, dump checkpoints
2. Run 1 step, stop, run 1 step, dump checkpoints

For each run, I edited these loops in Run1:

[code]

and Run2:

[code]
where I changed to loop to be:
[code]
and run, then did 2, 3, 4...

This was pretty much the only way @aoloso could figure out how to run just

[2022-03-01 20:37] pcolarco commented on #380
Comments/questions.
1) I've not yet tried running only a subset of the components. Some of them talk to each other (NI for example depends on what SU, SS, and DU are doing). It sounds like you are telling me you cannot run a subset without hacking the fortran, is that right?
2) If only running DU why are you looking at/getting an ss_internal_rst at all anyway? I don't understand what you are repor

[2022-03-01 20:52] mathomp4 commented on #380
Well, I just wasn't sure *how* to run just a subset. I tried fiddling with `GOCART2G_GridComp.rc` but almost everything I tried sort of crashed the model.

What my test was was a variant of `gcm_regress.j`. The normal run is:

1. Run model for 1 day at NX x NY → Gives us Set #1 of Restarts.
2. Run model for 18 hours at NY x NX, stop.
3. Run model for 6 hours at 1x6 → Gives us Set #2 of Restarts.

[2022-03-01 22:16] pcolarco commented on #380
I take back part of my question. I think you can turn off a component in GOCART2G_GridComp.rc by removing its name like this, from:
ACTIVE_INSTANCES_SU:  SU
to
ACTIVE_INSTANCES_SU:

I did this working on the previous regression test to isolate SU as the culprit. Commenting it out (#SU) does not work, you have remove from the line entirely.

Now based on what you say I wonder if there's some sort o

[2022-03-02 12:22] mathomp4 commented on #380
Ahhh. Yeah, I think I was just commenting out since, well, there are other comments on the line. I'll try that.

Glad you have an idea! I'll start doing some tests removing active instances.

[2022-03-02 14:28] mathomp4 commented on #380
Well, some more tests with turning off instances in `RC/GOCART2G_GridComp.rc`:

| Instance(s) Turned Off |                                              Restart Failures                                              |
|:----------------------:|:----------------------------------------------------------------------------------------------------------:|
|           DU           |

[2022-03-02 21:06] pcolarco commented on #380
@mathomp4 Is that line in the aerosol activation code? (qaux = qa_)
Try making sure your AGCM.rc has this line as I paste it below:
USE_AEROSOL_NN: 0
Maybe you're crashing because the single moment cloud scheme is expecting all the aerosol species but you're not providing them.

[2022-03-03 14:12] mathomp4 commented on #380
@pcolarco Ah. Okay. Thanks. That did it. I'll try and re-run the line 1700 crashes with that option.

[2022-03-03 14:55] mathomp4 commented on #380
Well, some progress. I've updated the table and I seem to have found a way to get GNU to regress: Just run CA with aerosol activation off! 😄

I suppose one question that maybe @pcolarco can answer: How is CA different from SS, DU, SU, and NI+SS+DU?  Is there a routine that everything *but* CA uses? I tried doing some side-by-side comparisons, but CA doesn't seem that unique. I mean, it has the wei

[2022-03-03 15:19] pcolarco commented on #380
@mathomp4 Disclaimer: I was not involved in the aerosol activation bit and only learned it was a thing by stumbling over it myself. My suspicion is that--since the Brown Carbon bit in CA is newish--the brown carbon is not connected properly with the aerosol activation. I will try and look at it this morning.

[2022-03-09 21:39] mathomp4 opened #387 "Update GEOSgcm to support Spack"
In order to support Spack for building GEOS instead of Baselibs, we need to make some rather comprehensive changes to our repos. My current testing shows for GEOSgcm we need to update:

- [x] ESMA_env: [v3.12.0](https://github.com/GEOS-ESM/ESMA_env/releases/tag/v3.12.0) → Merged into `main`
- [x] ESMA_cmake: [v3.11.0](https://github.com/GEOS-ESM/ESMA_cmake/releases/tag/v3.11.0) → Merged into `main

[2022-03-10 13:48] mathomp4 commented on #387
The next step in this is to test if we can "dribble in" these changes to not annoy @sdrabenh as much as I could. I have a plan of attack for this:

- [ ] First we need to get in the ESMA_env and ESMA_cmake changes. Check for zero-diff with current GEOS.
- [ ] Assuming that works, add in one of these, say, UMD_Etc, and make sure that doesn't fail.
- [ ] Continue ad nauseum

[2022-03-18 16:04] #377 closed

[2022-03-18 16:05] #284 closed

[2022-03-29 16:02] mathomp4 commented on #380
Okay. So after some work, I can now say I can get GNU to regress...as long as I only run for 2 steps and set `USE_AEROSOL_NN: 0`. I can do this by setting `mintracer` in `ConvPar_GF_GEOS5.F90` to zero instead of `tiny(1.)`.

Unfortunately, this value of `mintracer` has been that way since we started on Git and I couldn't figure out in CVS land where it came from. I'm pretty sure the change came fr

[2022-05-12 20:04] mathomp4 opened #417 "Testing GEOSgcm with M1 GNU"
I'm going to open this as a tracking branch for GEOSgcm issues when running with GNU on M1.

Thanks to @iains, these are not needed anymore for M1 and GEOS.

- [x] ~pFUnit (https://github.com/Goddard-Fortran-Ecosystem/pFUnit/issues/338#issuecomment-1125160712)~
- [x] ~pFlogger (https://github.com/Goddard-Fortran-Ecosystem/pFlogger/issues/80)~
- [x] ~GMAO_stoch (https://github.com/GEOS-ESM/GMAO_Sha

[2022-05-12 20:26] mathomp4 commented on #417
Additional issue. I can get GEOSgcm to build just fine, but it can't *run*. The issue seems to be something in the M1 GNU I built. I did this following how @fxcoudert (or someone??) did in the [Homebrew recipe for GCC](https://github.com/Homebrew/homebrew-core/blob/HEAD/Formula/gcc.rb), but by hand since on my laptop, I'm not allowed to install in `/opt/homebrew` and I could not get Homebrew M1 gc

[2022-05-12 20:34] iains commented on #417
OK. Can we start from which version of gcc you have built and how you have configured it.

It should be entirely possible (on Arm64 or x86_64) [gcc-11.3-darwin-r0 or gcc-12.1-darwin0r0] to configure it to be installed in your home directory (or /users/Shared) i.e. somewhere writable to non-admin.

If you then use that compiler to build a dependent project, the compiler should embed the rpaths that

[2022-05-12 20:35] mathomp4 commented on #417
Oooh. Interesting! I see from [this comment](https://github.com/iains/gcc-darwin-arm64/issues/91#issuecomment-1125332426), @iains has recommended using:

https://github.com/iains/gcc-11-branch/releases/tag/gcc-11.3-darwin-r0

([associated README](https://github.com/iains/gcc-11-branch/blob/gcc-11.3-darwin-r0/README.md))

Well then, I have a task for tomorrow I do believe! Let's try building this!

[2022-05-12 23:53] mathomp4 commented on #417
@iains I essentially echo'd what Homebrew did as a first attempt, I grabbed the tarball they use:
[code]
and a patch:
[code]
and apply the patch.

Then it's the usual way I build gcc:
[code]

It's not as fancy as Homebrew's method, but I decided to start from what I knew.

As for the "not in `$HOME`" that was for Homebrew's GCC. For some reason, it just wasn't happy being in somewhere other than `

[2022-05-13 07:11] fxcoudert commented on #417
That `gcc-11.2.0-arm-20211124` was an experimental branch that Homebrew has been using for some time, but we're migrating. Now I would recommend to build directly the branches from Iain's rapo, either [gcc-11.3-darwin-r0](https://github.com/iains/gcc-11-branch/releases/tag/gcc-11.3-darwin-r0) (for 11.3) or the 12.1 one.

[2022-05-13 18:48] mathomp4 commented on #417
Okay. Per @iains to fix an issue with `ieee_arithmetic`, I built a clone of:

https://github.com/iains/gcc-11-branch

This seems to have support for quad-precision, so we can stop caring about many of the PRs and issues above.

However, I seem to now have an error with HDF5:
[code]
I've filed an issue (https://github.com/iains/gcc-11-branch/issues/3)

[2022-05-31 19:28] mathomp4 commented on #417
Performance Results of GEOSgcm (6 hours, C12, 1x6, No ExtData)
---

### Release

| Processor               | Compiler     | SDYN (s) | PHYS (s) | Last NoRad Tput (d/d) | Last Rad Tput (d/d) | Final Tput (d/d) |
| ---                     | ---          | ---      | ---      | ---                   | ---                 | ---              |
| Cascade Lake (Discover) | GCC 11.3     | 11.45    | 36.39

[2022-06-01 15:35] mathomp4 commented on #417
Ah. Yes. "Tput" = "throughput" (in model-days/wall-clock-day). I just abbreviated it because the table was already too wide :)

Sadly, moving to `-march=armv8-a` didn't help. But I suppose the "good news" is that there are only four flags that might be causing it:

* -ffast-math
* -ftree-vectorize
* -funroll-loops
* --param max-unroll-times=4

(If -O2 is the cause, I'll eat my hat 😄 )

The GNU Agg

[2022-06-01 15:47] mathomp4 commented on #417
I also did a set of runs at C24 (so 4x the number of columns per process) as this is a bit closer to the per-process number-of-columns we run with. And the numbers are much the same.

Good news is that GCC 11 M1 is roughly as good as Intel 2022 on Coffee Lake with Aggressive flags! Kudos to @iains and the GCC Team (and I suppose the Apple chip engineers)!

---

Performance Results of GEOSgcm (6 ho

[2022-06-01 18:59] mathomp4 commented on #417
Interesting. I tried doing: `-Ofast -march=armv8-a` and C12 ran...and it did a *LOT*. Made physics much faster. Sadly, though, at C24 it still crashes. I am using the same restarts, etc. So I wonder what is happening.

Oh well, at least I learned about `-Ofast`. New flag for me!

I suppose my next work is to move on to GCC 12 and see if it has the same issues with our model on M1 as it does on Int

[2022-06-07 16:53] mathomp4 commented on #417
Not yet. I'm hoping to try building it today. I was pulled away to other work, but I have some time now to build compilers, etc. I'm finalizing my "get our flags right" setup first. Hopefully then GCC 12 will be plug-and-play!

This issue is...weird. For some reason, GCC 12 does not like GEOS and I don't know why. I recently ran 10 runs of C12 with GCC 11 and GCC 12. With GCC 11, all 10 ran succes

[2022-06-07 18:08] iains commented on #417
yeah, probably what's more likely is that one of the array accesses is going wrong and then some inappropriate number is being pulled into the calculation.

Is there any way to produce the assembly / .s or .i even (plus the flags used to compile) .. ?

[2022-06-08 19:18] mathomp4 commented on #417
@iains Looks like your GCC 12.1 branch runs! Using a sample size of 1 run, it seems a bit slower than 11.3...but that could just be variability of the laptop (maybe it hit the efficiency cores a bit more?).

One interesting thing is that it looks like C12 GCC 12.1 on M1 is stable. I ran it a few times and nothing went wiggy. So I thought I should look at the default Intel GNU flags:

[code]

I mea

[2022-06-08 19:48] mathomp4 commented on #417
Yeah. I might need to stroll through the Open MPI lists/repos and ask/annoy the gurus there (sorry in advance @jsquyres) and see if they have info about what happens if you do `mpirun -np 6` on an Apple M1 with 4 performance and 4 efficiency cores. I mean, I suppose if I'm not pinning, I just get 4/6 Firestorm and 2/6 Icestorm over the course of my runs sort of smoothing things out? (And I suppose

[2022-06-09 12:40] mathomp4 opened #424 "Split Radiation Gridded Component into separate repo"
There is a desire to move the Radiation GC into its own repo. The steps:

- [ ] Remove GEOSradiation_GridComp: https://github.com/GEOS-ESM/GEOSgcm_GridComp/pull/597
- [ ] Add new repo: https://github.com/GEOS-ESM/GEOSgcm/pull/425

[2022-06-17 15:52] mathomp4 commented on #417
Final thought: With #426 we should get M1 compatibility. Huzzah!

[2022-07-08 12:08] sanAkel opened #430 "MOM5 coupled model crashes for C180 (atm) x 1/4 (ocn) resolution"
@yvikhlya has a branch that is a merge of _develop_ and [aogmc_branch](https://github.com/GEOS-ESM/GEOSgcm_GridComp/tree/feature/aogcm). He can share his `components.yaml` on what he merged.

He set up a coupled model experiment with ⬆️ at `C180 (atm) x 1/4 (ocn)` resolution to be a perpetual year 2000 free running coupled model experiment: `~yvikhlia/aogcm/s2sv4_00/` and I copied over and _tried_

[2022-07-08 14:25] yvikhlya commented on #430
I remember the issue, but I forgot what caused it. BTW ocean_model_init, which is supposed to run before this crash and print a bunch of printouts from MOM did not even run.

[2022-07-08 14:29] sanAkel commented on #430
@mathomp4 your memory is awesome! 😄 Really 🆒

I reopened that [issue](https://github.com/GEOS-ESM/GEOSgcm/issues/352) 😞

[2022-07-08 14:43] sanAkel commented on #352
It may be easier or faster to know why using 1-deg resolution that @mathomp4 says has the same problem.

[2022-07-08 14:46] yvikhlya commented on #352
I already have 0.25 degree set up and interactive session, so I don't see a need to switch to 1 degree.

[2022-07-08 14:50] yvikhlya commented on #352
The last successful run with MOM5 I did was with v10.14.1 about 2 years ago. Something got broken since then.

[2022-07-08 15:02] mathomp4 commented on #352
@yvikhlya Not really. When this happened I was just confused. It just sort of "happened" one night and the only changes I could see were whitespace changes! It was like all of the sudden the system decided to do this.

I suppose one possible thought is to try a run with GNU? Maybe it will show a different error? I am not sure.

[2022-07-08 15:04] yvikhlya commented on #352
@mathomp4 Unrelated issue, but I can't push staff to github today. I have my ssh rsa key uploaded to github and i was always to push without password, but today it asks me a password and then says that I need access token. How do you use github these days?

[2022-07-08 16:33] mathomp4 commented on #380
Update. I was in a telecon with @tclune @weiyuan-jiang @junwang-noaa and said "Let me try GCC 11.2 and Intel MPI" because I've been experimenting with that recently. And when I ran it...it regressed!

Meanwhile, last night GCC 11.2 + Open MPI did not (as usual). Buuuuuut, there was one more difference. In my IMPI test, I updated to [my Baselibs 7.5.0/MAPL 2.23 branch of GEOSgcm](https://github.com

[2022-07-08 22:38] sanAkel commented on #352
Well, 2 suggestions:
1. Use the debugger- the debug build worked for me a few months ago.
2. Again please use the 1-deg version. That will be easier to work with.

[2022-07-14 20:08] yvikhlya commented on #352
@mathomp4 There is something wrong here. The printout from MOM5 run:
[code]
`ocean_model_MOM.F90` is a part of MOM6, not MOM5. MOM5 should search for `ocean_model_init()` in the `ocean_model.F90`. There is a name collision here.

[2022-07-15 08:08] sanAkel commented on #352
Hmm! Maybe that shared object lib/ DSO stuff hitting us again?

[2022-07-15 11:33] mathomp4 commented on #352
We might need to add back `LD_PRELOAD`?

[2022-07-15 13:38] yvikhlya commented on #352
@mathomp4 Could you remind me how to use LD_PRELOAD in csh? It works in bash for me:
[code]
But gives error in csh:
[code]
[code]

[2022-07-15 13:49] mathomp4 commented on #352
@yvikhlya You have to use `env`:
[code]

[2022-07-15 16:44] mathomp4 commented on #352
Nice! I suppose a simple "If MOM5, add LD_PRELOAD" can work.

Ouch. Yeah. That's when I start asking around!

[2022-07-27 20:33] #424 closed

[2022-08-10 16:29] mathomp4 commented on #417
Let's do an update of the timings with the newer GNU flags and now that I have access to an M1 Max. These are all 1-day and no extdata, history, or checkpointing to interfere.

I think the first take away is "M1 Max be nice". I mean, it's right there with  Cascade Lake with Intel compilers on Aggressive optimizations. And I'm guessing the fine folks at GNU could probably figure out how to tune for

[2022-08-10 18:42] mathomp4 commented on #417
Update: `-Ofast` still goes boom with 12.1. I figured it would, but you never know!

[2022-08-16 14:35] sanAkel opened #446 "Help to build GEOSgcm on a new server"
Hi @mathomp4,

Would you please help (**provide instructions**) @gmao-cda build:
- baselibs
- GEOSgcm

on `measures1.umd.edu` @gmao-cda is going to provide a list of compilers and libraries he currently has. Thanks a lot for the help!

[2022-08-16 15:11] mathomp4 commented on #446
@sanAkel I can give it a try. I'll need to know what compilers and MPI stacks they have. If they are new enough, it should be doable...unless that machine is a weird one.

[2022-08-16 16:15] gmao-cda commented on #446
Hi @mathomp4 ,

Thank you for the help!
Below is the server info:
- Hardware:
   - CPU: Intel(R) Xeon(R) Silver 4110 CPU @ 2.10GHz. (8 cores)
   - 8GB RAM
   - 4TB free space shared by users
- Software:
   - OS: Red Hat Enterprise Linux Server release 7.9 (Maipo).
   - GNU compiler (gcc/g++/gfortran) gcc version 4.8.5 20150623 (Red Hat 4.8.5-44) (GCC)
   - No MPI installed.

[2022-08-16 18:32] mathomp4 commented on #446
Oooh boy. Yeah, you'll need to install GCC 11.3.0 or 12.1.0 on the machine. And then Open MPI built by that compiler.

You might be able to install GCC 11/12 with the RHEL package manager but 7.9 is old enough that you might have to build it yourself. As for MPI, build that yourself as well as I never really trust MPI stacks from vendors. Better to build your own.

[2022-08-16 18:46] gmao-cda commented on #446
@mathomp4
Thanks for your guidance!
I will try to first install gcc and Open MPI first.

Do you know which branch (commits) of baselibs and GEOSgcm should I build on?

I previously had fortune to build the following packages on my home Desktop as my warm-up workout:
- System info:
        - Ubuntu 20.04 LTS (Linux_x86) + gnu version 11.2.0 (gcc, gfortran, g++) + openmpi 4.1.2
- GEOS package info:

[2022-08-16 22:38] mathomp4 commented on #446
If you are going to build it, I say go for the latest:

* Baselibs v7.5.0
* mepo `main` or latest tag (I think it's v1.45.0)
* GEOSgcm v10.22.5

As for `expat` I'd do something different and just...not build it! You can get Baselibs and build as:

[code]
This gets you the "essentials" of Baselibs. Many of the libraries are built for other reasons around GEOS, but you shouldn't need them. Maybe the

[2022-08-16 23:06] sanAkel commented on #446
Thank you @mathomp4.

On the `cdo` I have not used in a few years. I used to rely on it few years ago until I made friends with [xarray](https://docs.xarray.dev/en/stable/) and [xesmf](https://xesmf.readthedocs.io/en/latest/)!

[2022-08-17 14:26] gmao-cda commented on #446
I started building gcc 11.3, got the following error:

configure: error: Building GCC requires GMP 4.2+, MPFR 3.1.0+ and MPC 0.8.0+.
Try the --with-gmp, --with-mpfr and/or --with-mpc options to specify
their locations.  Source code for these libraries can be found at
their respective hosting sites as well as at
https://gcc.gnu.org/pub/gcc/infrastructure/.  See also
http://gcc.gnu.org/install/prere

[2022-08-17 14:40] gmao-cda commented on #446
Luther at ESSIC helped me build the gnu version 8.3.1, and openmpi 3.1.3 on the server. He confirmed it is not possible for him to build gnu compiler version 11.3 or 12.0 through RHEL package manager.

[2022-08-17 14:47] mathomp4 commented on #446
@gmao-cda Those prereqs are in the GCC source. For example, to build GCC 12.1 you can do:
[code]
I think that should work

[2022-08-17 14:51] mathomp4 commented on #446
Then for Open MPI 4.1.4 something like:

[code]

**_BUT_** you want to make sure the `gcc`, `g++` and `gfortran` are the ones you just built. So either put them in your PATH first or you'll need to use `gcc-12`, `g++-12`, and `gfortran-12` and then be careful to do so ever after. You can write a modulefile to make that easier.

[2022-08-17 15:12] gmao-cda commented on #446
Thank you very much @mathomp4 ! your script is so clear.

I added the flag `--disable-multilib` when building gcc-12.1.0, due to this error message when `configure`

[2022-08-17 17:13] gmao-cda commented on #446
finish building GNU 12.1.0 (build duration: 2hours).

[2022-08-17 18:58] gmao-cda commented on #446
Finish building open MPI 4.1.4.
also built cmake-3.24.0, since no cmake on the current system.
(built duration: 58 min)

[2022-08-17 19:55] gmao-cda commented on #446
Finish building EMSA-baselibs v7.5.0
[code]

-------+---------+---------+--------------
Config | Install |  Check  |   Package
-------+---------+---------+--------------
  --   |   --    |   --    | antlr2
  --   |   --    |   --    | gsl
  ok   |   ok    |   --    | jpeg
  ok   |   ok    |   --    | zlib
  ok   |   ok    |   --    | szlib
  --   |   --    |   --    | curl
  ok   |   ok    |   --

[2022-08-17 20:19] gmao-cda commented on #446
encountered error when using `mepo clone`:
mepo version: `git clone https://github.com/GEOS-ESM/mepo.git`

The error messages are:
[code]

**Guess of cause**
The git version of the server is 1.8.3.1, seems to low to have `get-url` command.

**Go to Try**:
Will install a newer-version git now.

[2022-08-17 20:54] gmao-cda commented on #446
Installing lapack-3.10.1 for GEOSgcm build.
MKL not used for GEOSgcm. Is this appropriate? @mathomp4

[2022-08-17 23:25] gmao-cda commented on #446
Done.

It takes me a while to set `LAPACK_LIBABRIES`. Seems I still need to append `blas` static lib into `LAPACK_LIBABRIES` in addition to set `BLAS_LIBRARIES`, otherwise leading to linking error.

total item in `install/bin`: 391
[code]

@mathomp4 and @sanAkel , Thank you very much for all your help!

Is there any test data/low-res test run that I can try?

[2022-08-18 00:20] sanAkel commented on #446
yes! Of course, let's get in touch tomorrow with @mathomp4 - as our schedules allow.

[2022-08-18 12:28] mathomp4 commented on #446
Sorry I missed all that, but it looks like you did well. And, yeah, you had some ancient Git on that system! Oof. I should probably put in some sort of version check in mepo. I guess I forgot Git 1 could even still exist!

And as for test data, yes, I can probably get you some. I'll need to update a public spot we have, but I don't have write access so I'll need to contact someone who does.

Also,

[2022-08-18 12:33] mathomp4 commented on #446
Some other things:

MKL is only required to run/compile RRTMGP with GEOS and you won't be doing that. So if it's missing, you just get a warning that RRTMGP can't be run.

And this is interesting. If you had BLAS and LAPACK installed and CMake found it, it should have taken care of the linking for you. Hmm.

[2022-08-18 14:18] gmao-cda commented on #446
Thank you very much for your guidance on installing GNU compiler @mathomp4 !
I have never built GNU compiler from src codes, and your detailed and clear guidance makes it trivial.

[2022-08-18 15:16] mathomp4 commented on #446
@gmao-cda Well, it's a lot of experience doing it. What I do now to not forget is every time I do something like this and make a modulefile for it, I put my instructions at the top a la:

https://github.com/mathomp4/m1modulefiles/blob/main/Compiler/gcc-gfortran-12.1.0/openmpi/4.1.4.lua

Otherwise I'd forget 😄

[2022-08-18 16:28] gmao-cda commented on #446
Thanks @mathomp4 , I created a lean blas/lapack test case for to find out why:
1. When I compiled, I used
[code]
where I explicitly assigned `BLAS_LIBRARIES` and `LAPACK_LIBRARIES`, which are the outputs of the `FindBLAS` and `FindLAPACK`.

**This lets FindBLAS, and FindLAPACK skip the internal testing case and find the correct linking flags**, which you can see from cmake output with no `sgemm` t

[2022-08-19 17:07] sanAkel commented on #446
@gmao-cda Would you please:
- [ ] Confirm Baselibs are built
- [ ] Model is built

If ⬆️ are ✅ let's close this issue and move on to running the model. Thanks!

[2022-08-19 17:25] cd10kfsu commented on #446
Yes. I confirmed

[2022-08-19 17:28] sanAkel commented on #446
Thanks! Closing this issue.

[2022-08-19 17:28] #446 closed

[2022-08-31 20:10] sanAkel commented on #352
I can confirm [that](https://github.com/GEOS-ESM/GEOSgcm_App/pull/341) works for both:
- MOM5
- MOM6

[2022-08-31 20:10] #352 closed

[2022-08-31 20:10] sanAkel commented on #430
I can confirm [that](https://github.com/GEOS-ESM/GEOSgcm_App/pull/341) works for both:
- MOM5
- MOM6

[2022-08-31 20:10] #430 closed

[2022-09-19 20:30] mathomp4 opened #461 "Building GEOSgcm with Spack"
A grand hope for GEOSgcm (and for @danholdaway in particulary) is one day we can do:
[code]
and we get a build of GEOSgcm.

I'm currently trying to figure out how to get spack-stack to do that (see https://github.com/NOAA-EMC/spack/pull/174) and I've identified three paths we must look at when building GEOSgcm with Spack:

1. Build with internal MAPL and internal FMS
2. Build with internal MAPL an

[2022-10-21 16:18] mathomp4 opened #474 "Build GEOSgcm Container on Release"
Much like MAPL and GEOSfvdycore, we should build a GEOSgcm container on release.

To do so we need two PRs, one here and one in GEOSgcm_App. The GEOSgcm_App PR is to make the run script be sort of Singularity aware.

1. GEOSgcm
2. GEOSgcm_App https://github.com/GEOS-ESM/GEOSgcm_App/pull/350

[2022-11-17 22:32] #474 closed